.trial-signup {
  .hero-background {
    background: url('/img/stock/people-meeting-2-colorized.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card {
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    padding: 0 1rem;
    border: none;
  }
}
