{{ partial "head" . }}

{{ partial "announcement" . }}

<div class="landing-page">
  {{ partial "nav-home" . }}
</div>

<!--HEROSPACE ROW-->


<div class="page bootstrap-landing">
  <section class="pt-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
              <img class="laptop mb-lg-0 mb-4" src="img/006-mock-ups/VAMP-light-laptop-v100-hero.png" alt="">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1">
              <h1 class="display-4 text-center text-md-left">Release with confidence at any scale</h1>
              <p class="lead text-center text-md-left text-muted mb-4">
                Avoid the sleepless nights and pager duty panic with release management that gives you control over
                software delivery every step of the way.
              </p>
            </div>
          </div>

          <div class="text-center text-md-left">
            <a href="/product" class="button button--blue--ghost mr-md-3 mb-3 mb-md-0">
              Learn More
            </a>
            <a href="/ee-trial-signup" class="button button--red mb-3 mb-md-0">
              Start a free trial
            </a>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-sm-12 col-lg-4 text-center mb-4 mb-lg-0">
          <i class="fa fa-rocket font-size-xlg mb-3 text-secondary"></i>
          <h3>Faster time-to-market</h3>
        </div>
        <div class="col-sm-12 col-lg-4 text-center mb-4 mb-lg-0">
          <i class="fa fa-road font-size-xlg mb-3 text-secondary"></i>
          <h3>Keep projects on track</h3>
        </div>
        <div class="col-sm-12 col-lg-4 text-center mb-4 mb-lg-0">
          <i class="fa fa-line-chart font-size-xlg mb-3 text-secondary"></i>
          <h3>Make IT a business driver</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-gradient-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
          <h2 class="mb-4">Test in production - The only way that works for cloud</h2>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-sm-4">
          <div class="d-flex">
            <i class="fa fa-arrow-circle-right text-primary pt-1"></i>
            <div class="ml-3">
              <h4>Smart Release Strategies</h4>
              <p class="text-muted mb-4">Benefit from precisely-targeted user segments and phased release plans to control which users see what features and when.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex">
            <i class="fa fa-arrow-circle-right text-primary pt-1"></i>
            <div class="ml-3">
              <h4>Continuous validation</h4>
              <p class="text-muted mb-4">Validate the health and business success of your software release with Vamp’s built-in observability system.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex">
            <i class="fa fa-arrow-circle-right text-primary pt-1"></i>
            <div class="ml-3">
              <h4>Safety first</h4>
              <p class="text-muted mb-4">Automatically rollback a failed release. Sleep soundly in the knowledge there is an automated safety net in place to protect your business.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {{ partial "use-cases-row" . }}

  <section class="pt-5" id="roi-calculator">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <h2 class="mb-5">Explore the cost benefits of analytics-based software releasing</h2>
          <p class="text-muted">
            At Vamp we help customers put their DevOps strategy to work by adding an average of 30% business value to their current setup. Take this two minute survey to find out how increasing your DevOps maturity with release automation can increase your DevOps ROI.
          </p>
        </div>
      </div>
    </div>
  </section>

  {{ partial "roi-calculator-bot-row" . }}

  {{ partial "testimonial-row" . }}

  {{ partial "featured-articles-row" . }}


  <!--FRIENDS-->

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="mb-5">Vamp friends</h2>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/BBVA.jpg" alt="BBA Innovation team">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Mijndomein.jpg" alt="Mijndomein">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Trivento.jpg" alt="Trivento">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Wehkamp.jpg" alt="Wehkamp">
        </div>
      </div>
    </div>
  </section>


  <section class="py-5 bg-gradient-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <h2 class="mb-5">Developers love us</h2>
          <p class="text-muted mb-5 font-size-lg">Vamp provides developers with a cutting-edge working environment, combining proven standards with cutting-edge technology.</p>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Graphical UI and dashboards for clear information and easy management
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-02.svg" alt="">
            <p class="text">
              Integrated javascript based workflow system for flexible automation
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              Integrated metrics and events system exposed through API, SSE and websockets.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              Automatic load balancing of scaled out services and containers
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              API gateway features such as URL rewrites and conditional redirects
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              CLI and REST API for integration with CI/CD pipelines
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="partners-row" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="mb-3">Technology partners</h2>
          <p class="text-muted mb-5 font-size-lg">Vamp works with</p>
        </div>
      </div>

      <div class="row logos-row">
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/kubernetes/"><img src="/img/004-Logos/001-dark-blue/Google-vertical.svg" alt="Google"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/how-vamp-works/architecture-and-components/"><img src="/img/004-Logos/001-dark-blue/Amazon-vertical.svg" alt="Amazon AWS"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/azure-container-service/"><img src="/img/004-Logos/001-dark-blue/Microsoft-vertical.svg" alt="Microsoft Azure"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/kubernetes/"><img src="/img/004-Logos/001-dark-blue/Kubernetes-vertical.svg" alt="Kubernetes"></a>
        </div>

        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/dcos/"><img src="/img/004-Logos/001-dark-blue/DCOS-vertical.svg" alt="DC/OS"></a>
        </div>
        <div class="col  col-sm-6 text-center">
          <a href="documentation/installation/rancher/"><img src="/img/004-Logos/001-dark-blue/Rancher-vertical.svg" alt="Rancher"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/how-vamp-works/architecture-and-components"><img src="/img/004-Logos/001-dark-blue/Docker-vertical-member.svg" alt="Docker"></a>
        </div>
      </div>
    </div>
  </section>
</div>

<script data-botsquad='{"id":"caad0a50-37d8-4896-94d4-c3d62b001c1b", "socket": "wss://bsqd.me/socket", "container_id": "rio-calculator-chatbot", "layout": "contained"}' src="https://bsqd.me/js/host.js"></script>

{{ partial "footer" .}}
