{{ partial "head" . }}

<div class="landing-page">
  {{ partial "nav-home" . }}
</div>

<!--FEATURED ARTICLES-->

{{ partial "featured-articles" . }}

<!--HEROSPACE ROW-->


<div class="page">
  <div class="lander-row lander-row--white hero-space">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-12 text-center">
              <div>
                <a href="/product/enterprise-edition/" style="color: #212529;">
                  <span class="badge badge-pill badge-info mr-2">new</span>
                  Vamp Enterprise Edition 1.0 released
                </a>
              </div>
            </div>
            <div class="col-md-8 offset-md-2 text-center">
              <h1 class="h1 hero-text">
                Smart Releasing and Optimization for Enterprise Devops
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <p class="h1 mb-4 text-center hero-sub-text">
                Vamp gives you all the tools to release, control and optimize your containerised apps on cloud and on-prem platforms.
              </p>
            </div>
          </div>
          <div class="text-center">
            <a href="/product" class="button button--blue--ghost mr-md-3 mb-3 mb-md-0">
              Learn More
            </a>
            <a href="/ee-trial-signup" class="button button--red mb-3 mb-md-0">
              Start a free trial
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
        <a href="/product/"><img class="laptop" src="img/006-mock-ups/VAMP-light-laptop-v100-hero.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <!--ABOUT VAMP ROW-->

  <div id="about-vamp-row" class="lander-row lander-row--grey">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">Release your software often and with confidence</h2>
        </div>
        <div class="col-sm-4 text-center">
          <img src="img/001-Big-icons/illustration-01.svg" alt="Easy canary releasing"  class="image--smaller">
          <h3 class="h3">Crank up release velocity</h3>
          <p class="text">
            Release often with 0 downtime and limited blast radius with Vamp's gradual rollouts and upgrades.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img src="img/001-Big-icons/illustration-02.svg" alt="Powerful autoscaling" class="image--smaller">
          <h3 class="h3">Drive decisions based on data</h3>
          <p class="text">
            Don’t trust your gut, trust the data. Vamp's built-in health monitoring instantly reacts to increases in traffic or error situations.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img src="img/001-Big-icons/illustration-03.svg" alt="Container agnostic deploys" class="image--smaller">
          <h3 class="h3">Avoid vendor lock-in</h3>
          <p class="text">
            Run Vamp on any cloud or on-prem. Vamp integrates with all major cloud and container suppliers.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="/product/" class="button button--red--ghost"> Learn more
              <span class="button__icon button__icon--arrow">
              </span>
          </a>
        </div>
      </div>
    </div>
  </div>


  {{ partial "testimonial-row" . }}


  <!--CALCULATOR-->

  {{ partial "maturity-calculator-home" . }}

  <!--USE CASES -->

  <div class="lander-row lander-row--grey">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2">Use cases</h2>
          <p class="text-lead">How can I use Vamp in my organisation?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <figure class="card-image-wrapper">
              <img src="img/stock/testing-colorized.jpg" class="card-image">
            </figure>
            <div class="card-content">
              <h3 class="h3 card-title">Testing in production</h3>
              <p class="text card-text">Updates and new feature rollouts on live environments can be a nail biting experience.
                Vamp gives you the tools to reduce the risks involved in many types of release scenarios.
              </p>
              <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="img/stock/software-users-colorized.jpg" class="card-image">
            <div class="card-content">
              <h3 class="h3 card-title">Migrating legacy applications</h3>
              <p class="text card-text">Re-architecting your applications to address new business needs is a core part
                of any Digital Transformation. With Vamp you can do this controlled and step-by-step.
              </p>
              <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="img/stock/datacenter-colorized.jpg" class="card-image">
            <div class="card-content">
              <h3 class="h3 card-title">Optimise resources</h3>
              <p class="text card-text">Real life system usage can be very different from what was planned. Stress tests
              can go only get your so far. Vamp enables a whole new range of simulation to validate your resouce needs</p>
              <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FRIENDS-->

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">Vamp friends</h2>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/BBVA.jpg" alt="BBA Innovation team">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Mijndomein.jpg" alt="Mijndomein">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Trivento.jpg" alt="Trivento">
        </div>
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Wehkamp.jpg" alt="Wehkamp">
        </div>
      </div>
    </div>
  </div>


  <!--FEATURES LIST ROW 01-->

  <div class="lander-row lander-row--grey features-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">Developers love us</h2>
          <p class="text-lead">Vamp provides developers with a cutting-edge working environment, combining proven standards with cutting-edge technology.</p>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Graphical UI and dashboards for clear information and easy management
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-02.svg" alt="">
            <p class="text">
              Integrated javascript based workflow system for flexible automation
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              Integrated metrics and events system exposed through API, SSE and websockets.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              Automatic load balancing of scaled out services and containers
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              API gateway features such as URL rewrites and conditional redirects
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              CLI and REST API for integration with CI/CD pipelines
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="partners-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2">Technology partners</h2>
          <h3 class="h3 mb-4">Vamp works with</h3>
        </div>
      </div>

      <div class="row logos-row">
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/kubernetes/"><img src="/img/004-Logos/001-dark-blue/Google-vertical.svg" alt="Google"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/how-vamp-works/architecture-and-components/"><img src="/img/004-Logos/001-dark-blue/Amazon-vertical.svg" alt="Amazon AWS"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/azure-container-service/"><img src="/img/004-Logos/001-dark-blue/Microsoft-vertical.svg" alt="Microsoft Azure"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/kubernetes/"><img src="/img/004-Logos/001-dark-blue/Kubernetes-vertical.svg" alt="Kubernetes"></a>
        </div>

        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/dcos/"><img src="/img/004-Logos/001-dark-blue/DCOS-vertical.svg" alt="DC/OS"></a>
        </div>
        <div class="col  col-sm-6 text-center">
          <a href="documentation/installation/rancher/"><img src="/img/004-Logos/001-dark-blue/Rancher-vertical.svg" alt="Rancher"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/how-vamp-works/architecture-and-components"><img src="/img/004-Logos/001-dark-blue/Docker-vertical-member.svg" alt="Docker"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="/js/dist/{{ index .Site.Data.js.hash "apps.min.js" }}" ></script>

{{ partial "footer" .}}
