{{ partial "head" . }}
<div class="single-page">
    {{ partial "nav" . }}
</div>
<div class="page search-page">
    <div class="container markdowned">
        <div class="search-results-for">
            <h1 class="h1">Search results for:</h1>
            <p class="text">lol</p>
        </div>

        <div class="search-result-items">
            <div class="search-result-item">
                <h2>Title of a result</h2>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur, culpa deserunt, et exercitationem illo iste modi molestiae mollitia nemo nihil nulla numquam odit omnis quaerat quidem reiciendis sequi tempore.</p>
                <a href="" class="">Read more &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>

            <div class="search-result-item">
                <h2>Title of a result</h2>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur, culpa deserunt, et exercitationem illo iste modi molestiae mollitia nemo nihil nulla numquam odit omnis quaerat quidem reiciendis sequi tempore.</p>
                <a href="" class="">Read more &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" .}}