.announcement {
  $breakpoint: 667px;
  $breakpoint2: 768px;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $red;
  }

  &-image {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: .5rem;
    img {
      max-height: 20px;
    }
  }

  &-title {
    color: $gray;
    font-weight: $font-weight-heavy;
    margin-right: .5rem;
    font-size: 14px;

    @media all and (max-width: $breakpoint) {
      display: none;
    }

    &:before {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      margin-left: -30px;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.99966667.00006667c-5.5226 0-9.99966667 4.47726666-9.99966667 9.99986666 0 5.52259997 4.47706667 9.99979997 9.99966667 9.99979997 5.52260003 0 10.00020003-4.4774 10.00020003-9.99979997-.0000667-5.5228-4.4776-9.99986666-10.00020003-9.99986666zm4.48066663 14.48020003c0 .6710666-.5439333 1.215-1.2148666 1.215h-6.53113337c-.6712 0-1.215-.5439334-1.215-1.215v-8.96093337c0-.67106666.54393334-1.215 1.215-1.215h5.12613337v2.43h2.6198666zm-2.1011333-8.26480003v-1.91126667l2.1011333 1.91126667z' fill='%2317a2b8'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-text {
    color: $gray;
    margin-right: .5rem;
    font-size: 13px;

    @media all and (max-width: $breakpoint2) {
      display: none;
    }
  }

  &-link {
    text-transform: uppercase;
    color: $red;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .3px;
    @media all and (max-width: $breakpoint) {
      display: none;
    }
  }

  &-mobile {
    text-transform: uppercase;
    color: $red;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .3px;
    display: none;
    @media all and (max-width: $breakpoint) {
      display: block;
    }
  }

  &.announcement-kubecon {
    color: $blue-dark;
    font-weight: 500;

    .kubecon-background {
      height: 60px;
      background-image: url("/img/news/kubecon-banner.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 600px;
      background-position-y: bottom;

    }
    .kubecon-text {
      display: inline-block;
      padding: 20px;
      font-size: 15px;

    }

    img.kubecon-icons {
      height: 30px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
    }
  }

  @media all and (max-width: 426px) {
    text-align: center;
    height: 70px;
    border-bottom: 2px solid #f05485;
    &.announcement-kubecon {
      img.kubecon-icons {
        vertical-align: baseline;
      }
      .kubecon-text {
        width: 150px;
        text-align: left;
        padding: 16px 0 0 12px;
      }
    }
  }

  @media all and (min-width: 641px) {
    text-align: center;
    height: 60px;
  }

  @media all and (min-width: 769px) {
    text-align: left;
    //border-bottom: none;
  }

  @media all and (min-width: 1025px) {
    text-align: left;

  }

  @media all and (min-width: 1201px) {
    text-align: left;
  }
}

