.announcement {
  $breakpoint: 667px;
  $breakpoint2: 768px;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $red;
  }

  &-title {
    color: $gray;
    font-weight: $font-weight-heavy;
    margin-right: .5rem;
    font-size: 14px;

    @media all and (max-width: $breakpoint) {
      display: none;
    }
  }

  &-text {
    color: $gray;
    margin-right: .5rem;
    font-size: 13px;

    @media all and (max-width: $breakpoint2) {
      display: none;
    }
  }

  &-link {
    text-transform: uppercase;
    color: $red;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .3px;
    @media all and (max-width: $breakpoint) {
      display: none;
    }
  }

  &-mobile {
    text-transform: uppercase;
    color: $red;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .3px;
    display: none;
    @media all and (max-width: $breakpoint) {
      display: block;
    }
  }

  &.announcement-kubecon {
    color: $blue-dark;
    font-weight: 500;

    .kubecon-background {
      height: 60px;
      background-image: url("/img/news/kubecon-banner.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 600px;
      background-position-y: bottom;

    }
    .kubecon-text {
      display: inline-block;
      padding: 20px;
      font-size: 15px;

    }

    img.kubecon-icons {
      height: 30px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
    }
  }

  @media all and (max-width: 426px) {
    text-align: center;
    height: 70px;
    border-bottom: 2px solid #f05485;
    &.announcement-kubecon {
      img.kubecon-icons {
        vertical-align: baseline;
      }
      .kubecon-text {
        width: 150px;
        text-align: left;
        padding: 16px 0 0 12px;
      }
    }
  }

  @media all and (min-width: 641px) {
    text-align: center;
    height: 60px;
  }

  @media all and (min-width: 769px) {
    text-align: left;
    //border-bottom: none;
  }

  @media all and (min-width: 1025px) {
    text-align: left;

  }

  @media all and (min-width: 1201px) {
    text-align: left;
  }
}

