.featured-articles {
  color: $gray-darker;

  &-card {
    border: $gray-lighter;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);

    .card-block {
      padding: 2 * $spacer;
    }

    &-image-wrapper {
      overflow: hidden;
      max-height: 200px;
      border-radius: 5px 5px 0 0;
    }

    &-text {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 120px;
      min-height: 120px;
    }
  }

  &-badge {
    text-align: left;
    text-transform: uppercase;
    color: $gray;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .3px;
    margin-bottom: .5 * $spacer;
  }

  &-content {
    font-size: 18px;
    font-weight: 300;
    padding: .5 * $spacer 0;
    text-align: left;
    margin-bottom: $spacer;
  }
}

