.featured-articles {
  height: auto;
  background-color: #1ea3b7;
  padding: 25px 0 20px 0;
  .featured-articles-content {
    .featured-article {
      color: $white;
      font-weight: $font-weight-lightest;
      font-size: 20px;
      a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }

        i {
          font-size: 16px;
          font-weight: $font-weight-light;
        }
      }
    }
  }

  .slick-dots li button:before {
    font-size: 30px;
  }

  .slick-dots li.slick-active button:before {
    color: $white;
  }
}

