.featured-articles {
  height: 30px;
  background-color: $blue-dark;
  padding: 4px 0 2px 0;
  margin-top: 80px;
  .featured-articles-content {
    .featured-article {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $white;
      font-weight: $font-weight-lightest;
      font-size: 15px;
      a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }

        i {
          font-size: 16px;
          font-weight: $font-weight-light;
        }
      }
    }
  }

  .slick-dots li button:before {
    font-size: 30px;
  }

  .slick-dots li.slick-active button:before {
    color: $ash;
  }

  .slick-dots {
    position: absolute;
    bottom: 32px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
  }

  @media all and (max-width: 321px) {
    margin-top: 0;
    padding: 6px 0 2px 0;
    .featured-articles-content {
      .featured-article {
        font-size: 13px;
      }
    }

    .slick-dots {
      bottom: 0;
    }
  }

  @media all and (min-width: 321px) {
    margin-top: 0;

    .slick-dots {
      bottom: 0;
    }
  }

  @media all and (min-width: 641px) {
    margin-top: 0;
  }

  @media all and (min-width: 769px) {
    margin-top: 0;

    .slick-dots {
      bottom: 32px;
    }
  }

  @media all and (min-width: 1025px) {
    margin-top: 80px;
    .slick-dots {
      bottom: 32px;
    }
  }

  @media all and (min-width: 1201px) {
    margin-top: 80px;

    .slick-dots {
      bottom: 32px;
    }
  }

}

