table.vamp-table  {
  thead > tr > th {
    color: $color-white-squeeze;
    background-color: $color-big-stone;
    border-bottom: 0;
    font-weight: $font-weight-default;
    padding: $spacer;
  }
  tbody > tr > td {
    color: $color-big-stone;
    //border-bottom: 0;
    font-weight: $font-weight-default;
    padding: $spacer;
  }

  &.table-striped {
    tbody > tr:nth-of-type(odd) {
      background-color: $color-white-squeeze;
    }
  }
}
