@import 'reset';
@import 'variables';
@import 'navbar';
@import 'cards';
@import 'nav-popover';
@import 'badge';
@import 'blog';
@import 'testimonial';
@import 'table';
@import 'mixins';
@import 'transitions';
@import 'animations';
@import 'product';
@import 'featured-articles';
@import 'news';
@import 'markdown';

// apps
@import 'apps/maturity-calculator';

body {
  font-family: 'Roboto', sans-serif;
}

/* Components */

.page {
  min-height: 100vh;
  position: relative;

  &.documentation {

    margin-top: $spacer;
    margin-top: $spacer;

    .header {
      color: $red;
      margin: 40px 0;
    }

    .content {
      @media all and (min-width: 1025px) {
        padding-top: 2 * $spacer;
        padding-bottom: 2 * $spacer;
      }

    }
  }
}

// Fonts

.header {
  font-weight: 100;
  letter-spacing: 0.1em;
  color: $blue-darker;
  font-size: 26px;

  @media all and (min-width: 641px) {
    font-size: 42px;
  }
}

a {
  color: $blue-light;
  text-decoration: none;
}

.h1 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: $ash;
  padding-top: 2 * $spacer;

  &.hero-text {
    @include hero-text();
  }

  &.hero-sub-text {
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 0;
    margin-bottom: $spacer;
    line-height: 30px;

    @media (max-width: 321px) {
      font-size: 20px;
    }

    @media all and (max-width: 769px) {
      font-size: 20px;
    }
  }

  @media all and (min-width: 321px) {
    font-size: 22px;
  }
}

.h2 {
  font-size: $font-size-biggest;
  font-weight: $font-weight-heavy;
  letter-spacing: 0.05em;
  color: $blue-darker;
  padding-top: $spacer;


  @media all and (min-width: 1025px) {
    font-size: 30px;
    line-height: 1.5;
  }

  @media all and (min-width: 1201px) {
    font-size: 30px;
    line-height: 1.5;
  }

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: $font-size-small;
  letter-spacing: 0.1em;
  color: $gray-light;
}

.text-lead {
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  letter-spacing: 0.05em;
  margin-bottom: 1.5 * $spacer;

  @media (max-width: 769px) {
    font-size: $font-size-default;
  }
}

.text-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $blue-darker;

  &:not(:first-child):not(:last-child) {
    margin: 10px 0;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.text {
  font-weight: $font-weight-default;
  letter-spacing: $letter-spacing-default;
  font-size: $font-size-default;
  color: $blue-darker;
  line-height: $line-height-default;
}

.text-muted {
  color: $font-color-muted;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-big {
  font-size: $font-size-big;
}

.text-biggest {
  font-size: $font-size-biggest;
}

.text-small {
  font-size: $font-size-small;
}
// Buttons

.button {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  border: none;
  height: 40px;
  min-width: 160px;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

  display: inline-block;
  text-align: -webkit-center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: $line-height-default;

  &.button__huge {
    font-size: 18px;
    height: 60px;
    padding: .8rem 4.5rem;
  }

  &.button__large {
    font-size: 16px;
    height: 45px;
    padding: .5rem 3rem;
  }

  p {
    line-height: 1;
    text-decoration: none;
  }

  &__icon {
    position: relative;
    height: 38px;
    width: 38px;
    background-position: center center;
    background-size: contain;

    &--arrow {
      width: 30px;
      background-image: url('/img/003-Small-icons/Red/Red-Arrow.svg');
    }

    &--arrow-white {
      background-image: url('/img/003-Small-icons/White/Arrow-White.svg');
    }

    &--mail {
      background-image: url('/img/003-Small-icons/White/Mail-White.svg');
      margin: auto;
    }
  }

  &:hover {
    .button__icon--arrow {
      background-image: url('/img/003-Small-icons/White/Arrow-White.svg');
    }
  }

  &--grey {
    background-color: $gray;
    color: white;

    &:hover {
      background-color: $blue-dark;
      color: white;
    }

    &--ghost {
      background-color: transparent;
      color: $gray;
      border: 1px solid $gray;

      &:hover {
        background-color: $gray;
        color: white;
      }
    }

  }

  &--red {
    background-color: $red;
    color: white;

    &:hover {
      background-color: $red-dark;
      color: white;
    }

    &--ghost {
      background-color: transparent;
      color: $red;
      border: 1px solid $red;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }

  &--blue {
    background-color: $blue-darker;
    color: white;

    &:hover {
      background-color: $blue-dark;
    }

    &--ghost {
      background-color: transparent;
      color: $blue-darker;
      border: 1px solid $blue-darker;

      &:hover {
        background-color: $blue-darker;
        color: white;
      }

    }
  }

  &--white {
    background-color: #fff;
    color: $red;

    &:hover {
      background-color: $red-dark;
    }

    &--ghost {
      background-color: transparent;
      color: $red;
      border: 1px solid $red;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }

  & a {
    &:hover {
      color: inherit;
    }
  }
}

.video-play-button {
  color: white;
  font-size: 56px !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-33%,-50%)
}

// Lander rows
.lander-row {
  display: flex;
  justify-content: center;
  padding: 22px 0;

  @media all and (min-width: 321px) {
    padding: 22px 0;
  }

  @media all and (min-width: 641px) {
    padding: 22px 0;

  }

  @media all and (min-width: 769px) {
    padding: 40px 0;

  }

  @media all and (min-width: 1025px) {
    padding: 40px 0;

  }

  @media all and (min-width: 1201px) {
   padding: 40px 0;
  }

  &--blue {
    background-color: $blue-darker;

    .header, .h1, .h2, .text-header, .text, .fa {
      color: $ash;
    }
  }

  &--white {
    background-color: white;

    .h1 {
      color: $blue-dark;
    }
  }

  &--grey {
    background-color: $ash;
    .h1, .h2, .h3 {
      color: $blue-dark;
    }
  }

  &--red {
    background-color: $red;

    .header, .h2, .h3, .text, .fa {
      color: white;
    }
  }

  a {
    text-decoration: none;
  }

}

// Ribbons

.hero-space {
  $hero-spacer: 2 * $spacer;

  padding-top: 14px + $hero-spacer;
  padding-bottom: 0;
  background-color: white;
  position: relative;

  @media all and (min-width: 321px) {
    padding-top: 30px
  }

  @media all and (min-width: 641px) {
    padding-top: 10px + $hero-spacer;
  }

  @media all and (min-width: 769px) {
    padding-top: 20px + $hero-spacer;
  }

  @media all and (min-width: 1025px) {
    padding-top: 20px + $hero-spacer;
  }

  @media all and (min-width: 1201px) {
    padding-top: 20px + $hero-spacer;
  }

  .row-ribbon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    display: flex;
  }
}

.side-menu {
  display: none;
  padding-top: 3 * $spacer;
  height: 100vh;
  bottom: 0;

  @media all and (min-width: 1025px) {
    display: block;
  }

  &__item {
    &:not(:first-child) {
      .side-menu__item__link {
        padding-top: 10px;
      }
    }

    &:last-of-type {
      .side-menu__item__link {
        border-bottom: none !important;
      }
    }

    &.active {
      >a {
        p {
          color: $red;
        }
      }
    }
  }

  &__item__link {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    padding-bottom: 10px;

    &__icon {
      width: 22px;
    }

    &__text {
      color: $blue-darker;
      margin-left: 18px;
      font-weight: $font-weight-default;
      letter-spacing: $letter-spacing-default;
      font-size: $font-size-small;
      line-height: $line-height-default;
    }
  }

  &__sub {
    &__item {
      &.active {
        .side-menu__sub__item__text {
          font-weight: 700;
        }
      }

      &__text {
        display: none;
        color: $blue-darker;
        padding: .25 * $spacer 0 .25 * $spacer 2 * $spacer;
        font-weight: $font-weight-light;
        letter-spacing: $letter-spacing-default;
        font-size: $font-size-small;
        line-height: $line-height-default;
        text-decoration: none;
      }
    }
  }
}

.side-menu-item {
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  align-items: center;
  text-decoration: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .bullet {
    width: 40px;
    display: flex;
    align-items: center;
    padding-top: 2px;

    img {
      width: 22px;
    }
  }

  .section-title {
    width: 5 * 40px;
  }

  .folding-indicator {
    width: 40px;
    text-align: right;
    line-height: 0;
  }

  &.active {
    .text {
      color: $red;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $gray-light;
  }
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: $blue-darker;

  &.active {
    .text {
      font-weight: 500;
    }
  }
}

.content {
  padding-left: 1.5 * $spacer;
  padding-right: 1.5 * $spacer;
  background-color: white;
  min-height: 100vh;

  @media (max-width: 769px) {
    padding-left: .5 * $spacer;
    padding-right: .5 * $spacer;
  }

  .content-header {
    font-size: $font-size-biggest;
    font-weight: $font-weight-light;
    color: $red;
    line-height: $line-height-default;
    letter-spacing: $letter-spacing-wide;
    text-transform: uppercase;
    margin-bottom: $spacer;
  }
}

.date {
  @extend .text;
  color: $gray;
  margin: 40px 0;

}

// Custom

.offer-item {
  display: flex;
  img {
    width: 64px;
    height: 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 40px;
  }

  margin-bottom: 40px;
}

.lower-offer-item {
  display: flex;
  img {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 20px;
  }

  margin: 20px 0;

  &:first-of-type {
    margin-top: 40px;
  }
}

.top-bar {
  border-top: 1px solid $gray-lighter;
}

// footer

.footer {
  position: relative;
  z-index: 999;

  // Inputs
  .input-group {
    display: flex;

    input {
      border: none;
      border-radius: 5px 0 0 5px;
      flex: 1;
      padding: 10px 10px;
      width: 90%;

      &:focus {
        border: none;
        outline: none !important;
      }

    }

    .button {
      padding: 0;
      border-radius: 0 5px 5px 0;
      width: 80px;
      min-width: 80px;
      max-width: 80px;
    }

    a {
      cursor: pointer;
    }
  }

  .text {
    color: $gray-lighter !important;
    text-align: center;
    font-weight: 100;
  }

  .h3 {
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: .5 * $spacer;
    color: $gray-lighter !important;
    text-align: center;
  }

  a {
    text-decoration: none;
    text-align: center;

    .text {
      font-weight: 100;
      color: $gray-lighter !important;

    }

    &.rss-feed-link {
      text-decoration: underline;
      color: $red;
    }
  }

  .input-group {
    margin: 20px 0;
  }

  @media all and (min-width: 769px) {
    .h3 {
      text-align: left;
      padding-top: initial;
      margin-bottom: 20px;
    }

    a {
      text-align: left;
    }

    .text {
      text-align: left;
    }
  }
}

.footer-bottom {
  position: relative;
  z-index: 999;
  padding: 20px 0;
  border-top: 1px solid rgba($gray-darker, 0.3);

  .text {
    color: $gray-lighter !important;
  }

  .vamp-bat {
    height: 40px;
    width: 50px;
    margin-right: 20px;
    display: none;
  }

  .part {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  a {
    color: $ash;
  }

  @media all and (min-width: 769px) {
    .container {
      display: flex;
      justify-content: space-between;
    }

    .part {
      width: 40%;
      justify-content: initial;
      text-align: initial;
      margin: initial;
    }

    .vamp-bat {
      display: block;
    }
  }
  }

// Note box
.admonition {
  padding: $spacer;
  border-left: 5px solid;
  border-radius: 0 5px 5px 0;
  position: relative;
  margin-top: 2 * $spacer;
  margin-bottom: 2 * $spacer;

  .admonition-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .admonition-icon-image {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .admonition-title {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: 500;
    display: block;
  }


  p {
    display: inline;
    font-weight: inherit;
  }

  li {
    font-weight: inherit;
  }

  &.note {
    background-color: #F7F8F9;
    border-color: #FAAC19;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/note.svg");
    }

    .admonition-title {
      color: $blue-dark;
    }
  }

  &.warning {
    background-color: #FEF0D5;
    border-color: #F9B32E;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/warning.svg");
    }

    .admonition-title {
      color: #F9B32E;
    }
  }

  &.tip {
    background-color: #dcf7f0;
    border-color: #1AA379;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/tip.svg");
    }

    .admonition-title {
      color: #1AA379;
    }
  }
}

.laptop {
  z-index: 100;
  transform: translateY(16px);
  position: relative;
  max-width: 70%}

.image--small {
  height: 80px;
}

.image--smaller {
  height: 120px;
}

.vamp-bat {
  width: 60%;
}

.social-buttons {

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 25%;
  }


  @media all and (min-width: 769px) {
    display: flex;
    align-items: center;

    .social-icons {
      padding: 0 0;
    }

    p {
      width: 144px;
    }

    .social-icons {
      justify-content: flex-start;

      a {
        padding-bottom: 2px;
        margin-right: 20px;
      }


    }

  }
}

.dark-it-up {
  color: $gray !important;
}

.magnetic-logo {
  height: 40px;
}

.features-top {
  padding-bottom: 20px;
}

.features-bottom {
  padding-top: 20px;
}


//Slicknav custom
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
  .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
  }
}
.slicknav_menu {
  zoom: 1;
  .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
  }
  .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
    &:before { // Firefox Mobile v42 bugfix
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute;
    }
  }
  .slicknav_no-text {
    margin: 0;
  }
  .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.slicknav_nav {
  clear: both;
  ul {
    display: block;
  }
  li {
    display: block;
  }
  .slicknav_arrow {
    font-size: 16px;
    margin: 0 10px 0 0;
    float: right;
    font-family: 'FontAwesome';
  }
  .slicknav_item {
    cursor: pointer;
    a {
      display: inline;
    }
  }
  .slicknav_row {
    display: block;
  }
  a {
    display: block;
  }
  .slicknav_parent-link a {
    display: inline;
  }
}
.slicknav_brand {
  float: left;
}
//Slicknav theme
//colors
$color_0: rgba(255, 255, 255, 0.75);
$color_btn: transparent;
$color_text: $blue-darker;
$color_shadow: #000;
$color_bg: white;
$color_hover_bg: transparent;
$color_hover_text: $blue-darker;

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: $color_bg;
  padding: 5px;

  * {
    box-sizing: border-box;
  }
  .slicknav_menutxt {
    color: $color_text;
    font-weight: bold;
    //text-shadow: 0 1px 3px $color_shadow;
    text-shadow: none;
  }
  .slicknav_icon-bar {
    background-color: $color_text;
  }
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  //text-shadow: 0 1px 1px $color_0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: $color_btn;
}
.slicknav_nav {
  color: $color_text;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  overflow: hidden;
  background-color: $ash;
  margin: 0 -5px -5px -5px;
  max-height: calc(100vh - 51px);
  overflow: auto;
  ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
  }
  .slicknav_row {
    padding: 16px 10px;
    margin: 2px 5px;
    &:hover {
      background: $color_hover_bg;
      color: $color_text;
    }
  }
  a {
    padding: 16px 10px;

    margin: 2px 5px;
    text-decoration: none;
    color: $color_text;
    font-weight: 300;
    &:hover {

      background: $color_hover_bg;
      color: $color_hover_text;
    }
  }
  .slicknav_txtnode {
    margin-left: 15px;
  }
  .slicknav_item a {
    padding: 0;
    margin: 0;
  }
  .slicknav_parent-link a {
    padding: 0;
    margin: 0;
  }
}
.slicknav_brand {
  display: flex;
  height: 38px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80px;
    height: 100%;
  }
}

a.not-active {

  &.button {
    opacity: 0.3;
    cursor: not-allowed;
  }
  pointer-events: none;
}

pre code {
  position: relative;
}

pre + pre {
  margin-top: 40px;
}

.expand-code-block-button {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  background-color: #E7ECF1;

  p {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    color: $blue-darker;
  }
}

.copy-button {
  background:none;
  border:none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 100px;
  background-color: #E7ECF1;
  transition: 0.3s ease-in all;


  p {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    color: $blue-darker;

    .fa-check {
      transform: translate(0, -1px);
    }
  }

  .copied {
    display: none;
  }

  &.zeroclipboard-is-hover {
    transition: 0.1s ease-in all;
    background-color: $gray-lighter;
    cursor: pointer;
    color: white;
  }

  &.clicked {

    background-color: $blue-darker;
    color: white;
    width: 200px;

    .copy {
      display: none;
      color: white;
    }

    .copied {
      display: block;
      color: white;
    }
  }
}

.second-icon {
  transform: translate(0, 2px);
}

.third-icon {

  @media all and (min-width: 1025px) {
    width: 66%;
    transform: translate(0,19px);
  }

  @media all and (min-width: 1201px) {
    width: 68%;
    transform: translate(0,3px);
  }

}

#partners-row {
  a {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .logos-row {
    flex-flow: row wrap;
    justify-content: center;

    .col {
      height: 140px;
      width: 50%;
      flex: none;
      padding: 20px;
    }

    @media all and (min-width: 321px) {
      .col {
        height: 190px;
        width: 50%;
        flex: none;
        padding: 0;
      }
    }

    @media all and (min-width: 641px) {
      .col {
        height: 230px;
        width: 33%;
        flex: none;
      }
    }

    @media all and (min-width: 769px) {
    }

    @media all and (min-width: 1025px) {
      .col {
        height: auto;
        width: 14.27%;
      }
    }

    @media all and (min-width: 1201px) {


    }

    .col {}
  }

}

//Anchor padding

#not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;

  @media all and (min-width: 550px) {
    padding-top: 80px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $red;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  .image-container {
    width: 80%;
    height: auto;


    @media all and (min-width: 550px) {
      width: 530px;
      height: 259px;
    }
  }

  img {
    width: 100%;
    height: auto;



    @media all and (min-width: 550px) {
      width: 530px;
      height: 259px;
    }

  }
}

.dropdown {
  background-color: $ash;
  height: 40px;
  width: 240px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  z-index: 100;
  display: none;
  margin-bottom: 2 * $spacer;

  &__active {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

    .dropdown__core {
      border-radius: 5px 5px 0 0;
    }

    .dropdown__items {
      display: block;
    }
  }

  &__core {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: $ash;
    border-radius: 5px;

  }

  &__selected {
    display: flex;
    padding: 0 20px;
  }

  &__chevon {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items {
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0;
    right: 0;
    border-left: 1px $ash solid;
    border-right: 1px $ash solid;
    border-bottom: 1px $ash solid;
    border-radius: 0 0 4px 4px;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  &__item {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;

    i {
      display: none;
      margin-right: 10px;
    }

    &.selected {
      font-weight: 500;
      i {
        display: block;
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px $ash solid;
    }
  }
}

#mobile-menu {
  top: 40px;
  z-index: 500;
  width: 100%;
  background-color: #F0F5FA;
  padding: 10px;
  display: none;


  &.show {
    display: block;
  }

  @media all and (min-width: 1025px) {
    display: none;
  }

  >ul {
    display: none;
    li {
      padding: 0 20px;
    }
    >ul {
      display: none;
      li {
        padding: 0 40px;
      }
    }
  }

  li.active {
    > i {
      transform: rotate(90deg);
    }
  }

  ul.show {
    display: block;
  }

  li {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    color: $blue-darker;
    cursor: pointer;

    a {
      color: $blue-darker;
      text-decoration: none;
    }

    i {
      font-size: 12px;
      transition: 0.15s all ease-in;
    }
  }
}

#mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 50px;
  border-bottom: 1px solid #C3D2DC;

  @media all and (min-width: 1025px) {
    display: none;
  }

  .logo {
    padding-top: 3px;
    img {
      height: 30px;
    }
  }

  a {
    color: $blue-darker;
  }

  .right {
    display: flex;
    >div {
      margin-left: 20px;
      cursor: pointer;
      height: 100%;
    }
  }
}

.anchor-hover {
  padding-left: 8px;
  opacity: 0;
  color: $gray;
  transition: 0.07s ease-in-out all;
}

h2:hover .anchor-hover {
  opacity: 1;
}

h3:hover .anchor-hover {
  opacity: 1;
}

h4:hover .anchor-hover {
  opacity: 1;
}

img.screenshot {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

@import "marketing/landing/style";
@import "careers/style";
