<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
      type="text/css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css"/>


<div class="page">

  <div class="lander-row lander-row--blue">
    <div class="container">

      <div class="row row--full">
        <div class="fifteen-col">
          <h1 class="header center">
            Canary releasing and autoscaling for microservice systems
          </h1>
        </div>
      </div>

      <div class="row row--full">
            <div class="fifteen-col center">
              <div class="hero-space-buttons">
                <button class="button button--red">
                  Try Vamp
                </button>
                <p class="text">or</p>
                <button class="button button--grey">
                  Learn More
                </button>
              </div>
            </div>
      </div>

    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="five-col center">
          <img src="img/illustrations/illustration-01.svg" alt="">
          <h2 class="h2">Percentage and condition based routing</h2>
          <p class="text">
            Prevent performance issues and service disruption with gradual rollouts and upgrades.
          </p>
        </div>
        <div class="five-col center">
          <img src="img/illustrations/illustration-02.svg" alt="">
          <h2 class="h2">Integrated metrics- and event-driven workflows</h2>
          <p class="text">
            Automatic scaling and optimisation for deployments and running systems.
          </p>
        </div>
        <div class="five-col center">
          <img src="img/illustrations/illustration-03.svg" alt="">
          <h2 class="h2">Container-scheduler agnostic API</h2>
          <p class="text">
            YAML based deployments avoid vendor lock-in.
          </p>
        </div>
      </div>
      <div class="row row--full">
        <div class="fifteen-col center">
          <button class="button button--red--ghost">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="lander-row lander-row--grey">
    <div class="container">
      <div class="row row--full">
        <div class="fifteen-col center">
          <h3 class="h3">Partners</h3>
          <h1 class="h1">We work with</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="subrow">

        </div>
        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>
        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>
        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>

        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>
        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>
        <div class="three-col center">
          <img src="http://placekitten.com/100/100" alt="">
        </div>

      </div>
    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row row--full">
        <div class="fifteen-col center">
          <h3 class="h3">Features</h3>
          <h1 class="h1">What we offer</h1>
        </div>
      </div>

      <div class="row">
        <div class="five-col">test</div>
        <div class="five-col">test</div>
        <div class="five-col">test</div>
        <div class="five-col">test</div>
        <div class="five-col">test</div>
        <div class="five-col">test</div>
      </div>

      <div class="row row--full">
        <div class="fifteen-col center">
          <button class="button button--red--ghost">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--red">
    <div class="container">
      <div class="row row--full">
        <div class="fifteen-col center">
          <h3 class="h3">Mailinglist</h3>
        </div>
      </div>
      <div class="row">
        <div class="three-col">
          <button class="button button--red--ghost">
            image
          </button>
        </div>
        <div class="six-col">
          <h1 class="h1">Stay up to date</h1>
          <p class="text">
            Leave your email for the latest news: we won't spam you and won't go off topic.
          </p>
        </div>
        <div class="six-col">
            <p class="text-header">E-mailadres</p>
          <div class="input-group">
            <input type="text">
            <button class="button button--blue">
            </button>
          </div>
        </div>
      </div>
    </div>
</div>

