{{ partial "head" . }}

<div>
  {{ partial "header" . }}
</div>

<div class="page">
  <div class="lander-row lander-row--blue hero-space">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="header center">
            Canary releasing and autoscaling for microservice systems
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <div class="hero-space-buttons">
            <a href="/try-vamp">
              <button class="button button--red">
                Try Vamp
              </button>
            </a>

            <p class="text">or</p>

            <a href="/what-is-vamp">
              <button class="button button--grey">
                Learn More
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <img class="laptop" src="/img/006-mock-ups/VAMP-laptop-v2.png" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <img src="img/001-Big-icons/illustration-01.svg" alt="">
          <h2 class="h2">Percentage and condition based routing</h2>
          <p class="text">
            Prevent performance issues and service disruption with gradual rollouts and upgrades.
          </p>
        </div>
        <div class="col center">
          <img src="img/001-Big-icons/illustration-02.svg" alt="">
          <h2 class="h2">Integrated metrics- and event-driven workflows</h2>
          <p class="text">
            Automatic scaling and optimisation for deployments and running systems.
          </p>
        </div>
        <div class="col center">
          <img src="img/001-Big-icons/illustration-03.svg" alt="">
          <h2 class="h2">Container-scheduler agnostic API</h2>
          <p class="text">
            YAML based deployments avoid vendor lock-in.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href="/what-is-vamp">
            <button class="button button--red--ghost">
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="lander-row lander-row--grey">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Partners</h3>
          <h1 class="h1">We work with</h1>
        </div>
      </div>

      <div class="row">
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/logo-05.svg" alt="">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/logo-06.svg" alt="">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/logo-07.svg" alt="">
        </div>
        <div class="col center">
          <img src="/img/004-Logos/001-dark-blue/logo-08.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Features</h3>
          <h1 class="h1">What we offer</h1>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Graphical UI and dashboard
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-02.svg" alt="">
            <p class="text">
              Integrated javascript-based workflow system
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              Metric-driven autoscaling, canary releasing and other optimisation and automation patterns
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              Automatic loadbalancing for autoscaled services

            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              API gateway routing features like conditional rewrites
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              CLI for integration with common CI/CD pipelines
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="lander-row lander-row--white top-bar">
    <div class="container">
      <div class="row row--wrap">
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Graphical UI and dashboard
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Integrated javascript-based workflow system
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Metric-driven autoscaling, canary releasing and other optimisation and automation patterns
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              Automatic loadbalancing for autoscaled services

            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              API gateway routing features like conditional rewrites
            </p>
          </div>
        </div>
        <div class="col col-5">
          <div class="lower-offer-item">
            <img src="/img/003-Small-icons/block-03.svg" alt="">
            <p class="text">
              CLI for integration with common CI/CD pipelines
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <a href="/what-is-vamp">
            <button class="button button--red--ghost">
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="lander-row lander-row--red">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h3 class="h3">Mailinglist</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
          <button class="button button--red--ghost">
            <img src="" alt="">
          </button>
        </div>
        <div class="col col-6">
          <h1 class="h1">Stay up to date</h1>
          <p class="text">
            Leave your email for the latest news: we won't spam you and won't go off topic.
          </p>
        </div>
        <div class="col col-6">
          <p class="text-header">E-mailadres</p>
          <div class="input-group">
            <input type="text">
            <button class="button button--blue">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer" .}}
