{{ partial "landing-head-alt" . }}

<div class="careers-page landing-page-light">
  {{ partial "nav-home" . }}

  <div class="career-masthead hero-background">
    <div class="container">
      <div class="header-content row">
      </div>
    </div>
  </div>
  <section id="perks" class="">

  </section>
  <section id="about" class="">

  </section>
  <section id="current-openings" class="openings">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="openings-body">
            {{.Content}}
          </div>
          <div class="openings-cta mb-5">
            <p>Sounds good? Apply for this job by sending us your motivation and resume.</p>
            <a class="button button--red" href="mailto:info@vamp.io">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer" .}}

<script>
  $('#cta-button1').click(function() {
    $('html, body').animate({
      scrollTop: $('#current-openings').offset().top
    }, 1000);
  });
</script>
