{{ partial "head.html" . }}
{{ partial "top_nav.html" . }}
{{ partial "sub_head.html" . }}

        <!--Renders a single blog post-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-2 docs blog post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <div class="date muted">By {{ .Params.author }} on {{ .Date.Format " Jan 2, 2006" }}</div>
                    {{partial "social_buttons.html"}}
                </header>
                <section>
                    {{ .Content }}
                </section>
                <ul class="tags list-inline">
                    {{ range .Params.tags }}
                    <li><a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ partial "disqus.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
