{{ partial "head.html" . }}
{{ partial "top_nav.html" . }}
{{ partial "sub_head.html" . }}

        <!--Renders a single blog post-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-2 docs blog post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <div class="date muted">By {{ .Params.author }} on {{ .Date.Format " Jan 2, 2006" }}</div>
                    <div class="pull-right">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.Title}}" data-url="{{ .Permalink }}" data-hashtags="microservices">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </header>
                <section>
                    {{ .Content }}
                </section>
                <ul class="tags list-inline">
                    {{ range .Params.tags }}
                    <li><a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ partial "disqus.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
