<article class="blog summary">
    <header>
        <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
        <div class="date muted">By {{ .Params.author }} on {{ .Date.Format "Jan 2, 2006" }}</div>
        <div class="tweet-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.Title}}" data-url="{{ .Permalink }}" data-hashtags="vamp.io">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
    </header>
    <p>
        {{ .Summary }}
    </p>
    <ul class="tags list-inline">
        {{ range .Params.tags }}
        <li><a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
    </ul>
    <div class="read-more">
        <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
    </div>
</article>