<article class="blog summary">
    <header>
        <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
        <div class="date muted">By {{ .Params.author }} on {{ .Date.Format "Jan 2, 2006" }}</div>
        {{partial "social_buttons.html"}}
    </header>
    <p>
        {{ .Summary }}
    </p>
    <ul class="tags list-inline">
        {{ range .Params.tags }}
        <li><a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
    </ul>
    <div class="read-more">
        <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
    </div>
</article>