{{ partial "head" . }}

<div class="landing-page">
  {{ partial "nav-home" . }}
</div>

<div class="page product pt-5">
  <section class="lead lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="h1 text-center mb-0 hero-text">{{.Params.header.hero | markdownify}}</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Roles Section-->

  <section class="lander-row--white">
    <div class="container pt-5">
      <div class="row mb-4">
        <div class="col-sm-4">
          <div class="product-role product-role-1">
            <h2 class="h2 product-role-title">{{.Params.roles.list1.title}}</h2>
            <ul class="product-roles">
              {{ range .Params.roles.list1.items }}
              <li class="text">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-role product-role-2">
            <h2 class="h2 product-role-title">{{.Params.roles.list2.title}}</h2>
            <ul class="product-roles">
              {{ range .Params.roles.list2.items }}
              <li class="text">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-role product-role-3">
            <h2 class="h2 product-role-title">{{.Params.roles.list3.title}}</h2>
            <ul class="product-roles">
              {{ range .Params.roles.list3.items }}
              <li class="text">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->

  <section class="lander-row--white product-features">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="h1 text-center mb-5 hero-text">Vamp Features</h2>
        </div>
      </div>
      <div class="row py-3">
        {{ range $index, $element := .Params.features }}
          {{ if (mod $index 2) gt 0}}
            <div class="col-sm-6 product-features-text-col push-md-6">
              <h3 class="product-features-title">{{.title}}</h3>
              <p class="text">{{ .description }}</p>
            </div>
            <div class="col-sm-6 product-features-img-col-{{add 1 $index}} pull-md-6" tabindex="{{$index}}">
              <div class="video-play-button fa fa-play-circle"></div>
            </div>
          {{else}}
            <div class="col-sm-6 product-features-text-col">
              <h3 class="product-features-title">{{.title}}</h3>
              <p class="text">{{ .description }}</p>
            </div>
            <div class="col-sm-6 product-features-img-col-{{add 1 $index}}" tabindex="{{$index}}">
              <div class="video-play-button fa fa-play-circle"></div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  {{ partial "start-a-trial-section" . }}

</div>

{{ partial "footer" .}}
