<a class="announcement" href="https://dzone.com/refcardz/design-patterns-for-continuous-delivery?chapter=1&utm_source=homepage&utm_medium=banner&utm_campaign=dzone">
	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<div class="row no-gutters">
			<div class="col-sm-12">
				<div class="announcement-wrapper announcement-whitepaper">
					<div class="announcement-image">
						<img src="/img/marketing/landing/DZLogo.png" alt="Dzone logo" style="margin-bottom: 4px;">
					</div>
					<div class="announcement-text">
						We're on Dzone!
					</div>
					<div class="announcement-link">
						Check out our RefCard "Restructuring DTAP for DevOps"  →
					</div>
					<div class="announcement-mobile">
						RefCard: "Restructuring DTAP for DevOps"  →
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
