<a class="announcement" href="/events/webinar_epic_fails_of_moving_to_microservices/">
	<div class="container-fluid" style="padding-left: 0; padding-right: 0">
		<div class="row no-gutters">
			<div class="col-sm-12">
				<div class="announcement-wrapper announcement-whitepaper">
					<div class="announcement-title">
						Upcoming webinar
					</div>
					<div class="announcement-text">
						Top 3 Epic Fails of Moving to a Microservices Architecture
					</div>
					<div class="announcement-link">
						Register now →
					</div>
					<div class="announcement-mobile">
						Webinar: Top 3 Epic Fails of Moving to a Microservices Architecture  →
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
