<table class="table table-striped vamp-table">
  <thead>
  <tr>
    <th>Feature</th>
    <th>Vamp Community Edition</th>
    <th>Vamp Enterprise Edition</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Blueprints & Deployments</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Gateways</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>REST API</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>CLI</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Graphical UI</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Workflows</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>SSL/TLS support</td>
    <td><div class="fa fa-check text-green"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Advanced automation workflows with GUI and rich dashboards</td>
    <td><div class="fa fa-remove text-red"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Organisations, namespaces, zones and environments support</td>
    <td><div class="fa fa-remove text-red"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>User Management & Access Control (ACL) for authorisation</td>
    <td><div class="fa fa-remove text-red"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  <tr>
    <td>Installer, Configuration & Upgrade tools</td>
    <td><div class="fa fa-remove text-red"></div></td>
    <td><div class="fa fa-check text-green"></div></td>
  </tr>
  </tbody>
</table>
