<section class="featured-articles">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="feature-articles-dots"></div>
        <div class="text-center featured-articles-content">
          <div class="featured-article">
            <small class="mr-1 text-uppercase ">News</small>
            {{ range last 1 (where .Data.Pages.ByPublishDate "Section" "in" (slice "news")) }}
            <a href="{{ .Permalink }}" class="ml-2">
              {{ .Title }}
              →
            </a>
            {{ end }}
          </div>
          <div class="featured-article">
            <small class="mr-1 text-uppercase ">On the blog</small>
            {{ range last 1 (where .Data.Pages.ByPublishDate "Section" "in" (slice "blog")) }}
            <a href="{{ .Permalink }}" class="ml-2">
              {{ .Title }}
              →
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
