<section class="featured-articles">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center featured-articles-content">
          <div class="featured-article">
            {{ range first 1 (where .Data.Pages "Section" "in" (slice "news")) }}
            <small class="mr-2 text-uppercase ">News</small>
            {{ .Title }}
            <a href="{{ .Permalink }}" class="ml-2">
              <i class="fa fa-chevron-right"></i>
            </a>
            {{ end }}
          </div>
          <div class="featured-article">
            {{ range first 1 (where .Data.Pages "Section" "in" (slice "blog")) }}
            <small class="mr-2 text-uppercase ">Now on the blog</small>
            {{ .Title }}
            <a href="{{ .Permalink }}" class="ml-2">
              <i class="fa fa-chevron-right"></i>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
