<div class="lander-row--grey testimonial">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 text-center mb-3">
        <h2 class="h2">What our users say about Vamp</h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-6 text-center">
        <div class="testimonial-inner mb-5 mb-md-0">
          <p class="testimonial-quote">
            "South-Korea’s top payment app uses Vamp to confidently canary release microservice applications in production"
          </p>
          <p class="testimonial-sub">
            South Korean payment provider
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="testimonial-inner mb-5 mb-md-0">
          <p class="testimonial-quote">
            "Smart home appliance company provides DevOps teams the right tool to release microservices shortening time to market by 60%"
          </p>
          <p class="testimonial-sub">
            Leading Dutch smart appliance company
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
