<div class="lander-row--white testimonial testimonial-1">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 text-center mb-3">
        <h2 class="h2">What our users say about Vamp</h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 text-center">
        <div class="card testimonial-card">
          <div class="card-block">
            <p class="testimonial-text">
              "South-Korea’s top payment app uses Vamp to confidently canary release microservice applications in production"
            </p>
            <div class="testimonial-portrait">
              <img src="/img/stock/headshot2.png" alt="">
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-normal text-left">South Korean payment provider</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card testimonial-card">
          <div class="card-block">
            <p class="testimonial-text">
              "Smart home appliance company provides DevOps teams the right tool to release microservices shortening time to market by 60%"
            </p>
            <div class="testimonial-portrait">
              <img src="/img/stock/headshot3.png" alt="">
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-normal text-left">Leading Dutch smart appliance company</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card testimonial-card">
          <div class="card-block">
            <p class="testimonial-text">
              "The canary releasing features immediately convinced the marketing department. We can innovate faster with less issues."
            </p>
            <div class="testimonial-portrait">
              <img src="/img/stock/headshot1.png" alt="">
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-normal text-left">US based top 3 home furniture retailer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
