<div class="lander-row lander-row--grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="h2">Use cases</h2>
        <p class="text-lead">How can I use Vamp in my organisation?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="img/stock/testing-colorized.jpg" class="card-image-top">
          <div class="card-body">
            <h3 class="h3 card-title">Testing in production</h3>
            <p class="card-text">Updates and new feature rollouts on live environments can be a nail biting experience.
              Vamp gives you the tools to reduce the risks involved in many types of release scenarios.
            </p>
            <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/stock/software-users-colorized.jpg" class="card-image-top">
          <div class="card-body">
            <h3 class="h3 card-title">Migrating legacy applications</h3>
            <p class="card-text">Re-architecting your applications to address new business needs is a core part
              of any Digital Transformation. With Vamp you can do this controlled and step-by-step.
            </p>
            <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/stock/datacenter-colorized.jpg" class="card-image-top">
          <div class="card-body">
            <h3 class="h3 card-title">Optimise resources</h3>
            <p class="card-text">Real life system usage can be very different from what was planned. Stress tests
              can go only get your so far. Vamp enables a whole new range of simulation to validate your resource needs</p>
            <a href="/product/use-cases/overview" class="button button--red--ghost">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
