<section class="top-banner-cta">
	<div class="top-banner-cta-body">
		<div class="top-banner-cta-body-left">
			<h3 class="top-banner-cta-title">Becoming the Frontrunner Organization</h3>
			<p class="top-banner-cta-text">A 3-step framework to simpler release management for enterprise cloud</p>
			<a class="top-banner-cta-link" href="https://pages.convertkit.com/a980d590e6/cb709441f4?utm_source=blog&utm_campaign=whitepaper&utm_content={{ .Title | anchorize }}" target="_blank">
				Download whitepaper →
			</a>
		</div>
		<div class="top-banner-cta-body-right">
			<a class="top-banner-cta-link" href="https://pages.convertkit.com/a980d590e6/cb709441f4?utm_source=blog&utm_medium=blog&utm_campaign=whitepaper&utm_content={{ .Title | anchorize }}" target="_blank">
				<img class="top-banner-cta-image" src="/img/marketing/whitepaper/frontrunner_cover_720.png" alt="vamp.io whitepaper">
			</a>
		</div>
	</div>
</section>
