.lead {
  padding: 30px 0;
  .lead-inner {
    max-width: 760px;
  }

  .lead-top-header {
    text-transform: uppercase;
    font-size: 16px;
    color: $color-cascade;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }

  .lead-header {
    font-size: 34px;
    color: $color-radical-red;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .lead-body {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: 400;
  }

  .lead-features-header {
    color: $color-blue-dianne;
    margin-bottom: 12px;
  }

  .lead-features-list {
    padding: 40px;
    color: $color-blue-dianne;
  }

  .lead-features-list-item {
    display: flex;
    margin-bottom: 40px;
    img {
      height: 64px;
    }
    p {
      margin-left: 40px;
    }
  }
}
