<div class="lander-row lander-row--blue footer">
  <div class="container">
    <div class="row">
      <div class="col three-col">
        <h2 class="h2">Learn more</h2>
        <a href="">
          <p class="text">About vamp</p>
        </a>
        <a href="">
          <p class="text">Quickstart</p>
        </a>
        <a href="">
          <p class="text">Using Vamp</p>
        </a>
        <a href="">
          <p class="text">Guides</p>
        </a>
        <a href="">
          <p class="text">Api reference</p>
        </a>
        <a href="">
          <p class="text">CLI reference</p>
        </a>
        <a href="">
          <p class="text">FAQ</p>
        </a>
      </div>
        <div class="col six-col">
        <h2 class="h2">All things code</h2>
          <a href="">
            <p class="text">Contribute</p>
          </a>
          <a href="">
            <p class="text">Github</p>
          </a>
          <a href="">
            <p class="text">Issues & support</p>
          </a>
          <a href="">
            <p class="text">Issues & support</p>
          </a>
      </div>
      <div class="col six-col">
        <h2 class="h2">Stay up to date</h2>
        <p class="text">
          Leave your email for the latest news: We won’t spam you and won’t go off topic.
        </p>

        <div class="input-group">
          <input type="text">
          <button class="button button--red">
          </button>
        </div>

        <p class="text">
          Or subscrice to our RSS feed
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom lander-row--blue">
  <div class="container">
    <p class="text">Magnetic.io</p>
    <p class="text">Code licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2</a> © 2015 <a href="http://magnetic.io/" target="_blank">Magnetic.io</a></p>
  </div>
</div>
