<div class="lander-row lander-row--blue footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="text h2">
          Raamgracht 6<br>
          1011 KK Amsterdam<br>
          The Netherlands<br>
          +31(0)88 555 33 99<br>
          info@vamp.io<br>
        </p>
        <div class="social-buttons mt-3">
          <div class="social-icons">
            <a href="https://twitter.com/vamp_io" target="_blank">
              <i class="fa fa-2x fa-twitter"></i><!--<img src="/img/003-Small-icons/Dark-blue/Twitter.svg" alt="">-->
            </a>
            <a href="https://www.linkedin.com/company/magnetic-io" target="_blank">
              <i class="fa fa-2x fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h2 class="h2">Learn more</h2>
        <a href="/product/">
          <p class="text">Why use Vamp?</p>
        </a>
        <a href="/documentation/how-vamp-works/architecture-and-components">
          <p class="text">Documentation</p>
        </a>
        <a href="https://medium.com/vamp-io" target="_blank">
          <p class="text">Blog</p>
        </a>
        <a href="/about/">
          <p class="text">About us</p>
        </a>
        <a href="/careers/">
          <p class="text">Careers</p>
        </a>
        <a href="/about/contact/">
          <p class="text">Contact</p>
        </a>
      </div>
        <div class="col-sm-3">
        <h2 class="h2">All things code</h2>
          <a href="/downloads/">
            <p class="text">Downloads</p>
          </a>
          <a href="/documentation/api/api-reference/">
            <p class="text">API docs</p>
          </a>
          <a href="/support/">
            <p class="text">Support</p>
          </a>
          <a href="/community/">
            <p class="text">Community</p>
          </a>
          <a href="https://github.com/magneticio/vamp" target="_blank">
            <p class="text">GitHub</p>
          </a>
          <a href="https://gitter.im/magneticio/vamp" target="_blank">
            <p class="text">Gitter</p>
          </a>
      </div>
      <div class="col-sm-3">
        <h2 class="h2">Stay up to date</h2>
        <p class="text">
          Leave your email for the latest news: We won’t spam you and won’t go off topic.
        </p>

        <form action="//magnetic.us9.list-manage.com/subscribe/post?u=c709b3ab8cce9e00d617e01b6&amp;id=c1465e21d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" style="display: inline" target="_blank" novalidate="">
          <div class="input-group">
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email">
            <a onclick="$(this).closest('form').submit()" class="button button--red not-active">
              <div class="button__icon button__icon--mail">
              </div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom lander-row--blue">
  <div class="container">
    <div class="part">
    </div>
    <div class="part">
      <img class="vamp-bat" src="/img/003-Small-icons/Medium-blue/VAMP-Medium.svg" alt="">
      <p class="text">Code licensed under <a type="application/rss+xml" href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2</a> © 2017 <a href="/about/">vamp.io</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '6336564d11d0f76c3ef2521947b97f54',
  indexName: 'vamp',
  inputSelector: '.search-input',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>

<!-- Hotjar Tracking Code for https://vamp.io -->
<script>
  if (location.host === 'www.vamp.io' || location.host === 'vamp.io') {

    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {hjid: 637837, hjsv: 5};
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
  }
</script>

<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="/js/dist/{{ index .Site.Data.js.hash "apps.min.js" }}" ></script>
