<nav aria-label="Header" id="header" class="top-menu">
    <div class="left">
      <a href="/">
        <img id="logo" class="logo" src="/img/005-vamp/Logo/logo-long-white.svg" alt="">
      </a>
    </div>
    <div class="right">
      <div class="top-menu-items" id="top-menu-items">

      </div>
      <div class="download">
        <a href="/try-vamp">
          <button class="button button--red">
            Try Vamp
          </button>
        </a>
      </div>
      <a href="https://github.com/magneticio/vamp" target="_blank" class="github-logo">
        <i class="fa fa-2x fa-github" aria-hidden="true"></i>
      </a>

      <div id="menu-toggle" class="hamburger">
        <i class="fa fa-2x fa-bars"></i>
      </div>
    </div>
</nav>