<nav aria-label="Header" id="header" class="top-menu">
  <div class="left">
    <a href="/">
      <div id="logo" class="logo"></div>
    </a>
  </div>

  <div class="right">
    <div class="top-menu-items" id="top-menu-items">

    </div>

    <div class="download">
      <a href="/documentation/installation/hello-world" class="button button--red">
        Try Vamp
      </a>
    </div>

    <a href="https://github.com/magneticio/vamp" target="_blank" class="github-logo">
      <i class="fa fa-2x fa-github" aria-hidden="true"></i>
    </a>

  </div>
</nav>

<ul id="mobile-menu" style="display: none">
  <!--<li><a href="/try-vamp">Try vamp</a></li>-->
</ul>