<div class="lander-row lander-row--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="h1 mb-3">Check your DevOps Maturity Level</h1>
        <h2 class="h2 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt dictum neque vel
          efficitur. Proin rutrum sit amet elit semper rutrum. Integer mattis velit a erat mollis, eu rutrum metus luctus
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="container" id="app-maturity-calculator">

          <!--Start -->
          <transition name="drop-down" mode="out-in">

            <div v-if="showStartScreen" class="row" v-cloak key="start">
              <div class="col-sm-12 text-center">
                <button class="button button--red" @click="startSurvey()">Take the five question survey</button>
                <p class="text-muted pt-3">no redirects - it only takes one minute</p>
              </div>
            </div>

            <div v-else key="survey">

              <!--Results -->

              <transition name="move-left" mode="out-in">

                <div v-if="showResults" class="row" v-cloak key="result">
                  <div class="col-sm-6 offset-sm-3 text-center">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title">
                        </div>
                        <div class="card-text">
                          <h3 class="h3">DEVOPS MATURITY LEVEL ((currentLevel.index))</h3>
                          <h1 class="result-title"> (( currentLevel.name )) </h1>
                          <img class="py-4" src="/img/vendor/trophy.svg" alt="" width="100px">
                          <p class="py-3 text-left">
                            ((levelDescriptions[currentLevel.index - 1].text))
                          </p>
                          <a href="https://calendly.com/diederick" target="_blank" class="btn button--red btn-block mb-2">Book a demo</a>
                          <a href="#" class="text-small" @click.prevent="startAgain()">Start the survey again</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Questions -->

                <div v-if="questions.length > 0 && !showResults" v-cloak key="questions">
                  <div class="row">
                    <div class="col-sm-12">
                      <b-progress class="mb-5" :value="progress" :max="max" show-progress></b-progress>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title mb-4">
                            <h3 class="h1 pt-0">((step + 1)). ((question))</h3>
                          </div>
                          <div class="card-text">
                            <b-form-group>
                              <b-form-radio-group id="radios1" v-model="questions[step].selected" :options="answers" stacked class="mb-3">
                              </b-form-radio-group>
                            </b-form-group>
                            <div class="button-bar">
                              <button v-show="step !== 0" class="btn button--grey--ghost mr-3" @click.prevent="previous()">Back</button>
                              <button class="btn button--red text-r" @click="next()">(( lastQuestion ? "See results" : "Next question"))</button>
                            </div>
                            <!--<a v-show="step !== 0" href="#" class="text-small" @click.prevent="previous()">previous question</a>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center">
                      <ul>
                        <li class="level-block" :class="isActive(3)">((levels[3].name))</li>
                        <li class="level-block" :class="isActive(2)">((levels[2].name))</li>
                        <li class="level-block" :class="isActive(1)">((levels[1].name))</li>
                        <li class="level-block" :class="isActive(0)">((levels[0].name))</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </transition>

            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</div>

