<div class="lander-row lander-row--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="h1 mb-3">Check your DevOps Maturity Level</h1>
        <h2 class="h2 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt dictum neque vel
          efficitur. Proin rutrum sit amet elit semper rutrum. Integer mattis velit a erat mollis, eu rutrum metus luctus
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="container" id="app-maturity-calculator">

          <!--Start -->

          <transition name="drop-down" mode="out-in" appear>
            <div key="survey" class="py-3">

              <!--Results -->

              <transition name="move-left" mode="out-in">

                <div v-if="showResults" class="row" v-cloak key="result">
                  <div class="col-sm-12 text-center py-3">
                    <h3 class="h3">DEVOPS MATURITY LEVEL ((currentLevel.index))</h3>
                    <h1 class="result-title"> (( currentLevel.name )) </h1>
                    <img class="py-4" src="/img/vendor/trophy.svg" alt="" width="100px">
                  </div>
                  <div class="col-sm-4">
                    <div class="result-card">
                      <div class="result-card-upper">
                        <div class="card-title">
                          <h5 class="h5">Short title</h5>
                        </div>
                        <div class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                          Sed do eiusmod tempor incididunt ut labore et dolore magna
                        </div>
                      </div>
                      <div class="result-card-lower">
                        <div class="card-title">
                          <h5 class="h5">How Vamp helps</h5>
                        </div>
                        <div class="card-text">
                          <ul class="result-card-usp-list">
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                          </ul>
                        </div>
                        <button class="button button--red btn-block">Learn more</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="result-card">
                      <div class="result-card-upper">
                        <div class="card-title">
                          <h5 class="h5">Short title</h5>
                        </div>
                        <div class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                          Sed do eiusmod tempor incididunt ut labore et dolore magna
                        </div>
                      </div>
                      <div class="result-card-lower">
                        <div class="card-title">
                          <h5 class="h5">How Vamp helps</h5>
                        </div>
                        <div class="card-text">
                          <ul class="result-card-usp-list">
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                          </ul>
                        </div>
                        <button class="button button--red btn-block">Learn more</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="result-card">
                      <div class="result-card-upper">
                        <div class="card-title">
                          <h5 class="h5">Short title</h5>
                        </div>
                        <div class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                          Sed do eiusmod tempor incididunt ut labore et dolore magna
                        </div>
                      </div>
                      <div class="result-card-lower">
                        <div class="card-title">
                          <h5 class="h5">How Vamp helps</h5>
                        </div>
                        <div class="card-text">
                          <ul class="result-card-usp-list">
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                            <li>
                              <span class="fa fa-check color text-success mr-2"></span>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                            </li>
                          </ul>
                        </div>
                        <button class="button button--red btn-block">Learn more</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <a href="#" class="text-small" @click.prevent="startAgain()">Start the survey again</a>
                  </div>
                </div>

                <!--Questions -->

                <div v-if="questions.length > 0 && !showResults" v-cloak key="questions">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title mb-4">
                            <h3 class="h1 pt-0">((step + 1)). ((question))</h3>
                          </div>
                          <div class="card-text">
                            <b-form-group>
                              <b-form-radio-group id="radios1" v-model="questions[step].selected" :options="answers" stacked class="mb-3">
                              </b-form-radio-group>
                            </b-form-group>
                            <div class="button-bar">
                              <button v-show="step !== 0" class="button button--grey--ghost mr-3" @click.prevent="previous()">Back</button>
                              <button class="button button--red text-r" @click="next()">(( lastQuestion ? "See results" : "Next question"))</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center">
                      <ul>
                        <li class="level-block" :class="isActive(3)">
                          4. ((levels[3].name))
                        </li>
                        <li class="level-block" :class="isActive(2)">
                          3. ((levels[2].name))
                        </li>
                        <li class="level-block" :class="isActive(1)">
                          2. ((levels[1].name))
                        </li>
                        <li class="level-block" :class="isActive(0)">
                          1. ((levels[0].name))
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <b-progress class="mt-5 w-50 d-inline-flex" :value="progress" height="1rem" :max="max">
                        <b-progress-bar :value="progress">((percentageCompleted))</b-progress-bar>
                      </b-progress>
                    </div>
                  </div>
                </div>
              </transition>

            </div>
          </transition>
          <b-btn v-b-modal.emailmodal>Launch demo modal</b-btn>

          <!-- Modal Component -->
          <b-modal id="emailmodal" :hide-footer="true" :hide-header="true">
            <div class="email-modal">
              <div class="email-modal-top">
                <div class="email-modal-logo"></div>
                <h2 class="email-modal-header">Exploring <strong>New Frontiers</strong> in CI/CD and DevOps</h2>
                <img class="email-modal-whitepaper" src="/img/marketing/landing/whitepaper.png">
              </div>
              <div class="email-modal-bottom">
                <p class="mb-3">Sign up to our newsletter and receive a free white paper on the future of DevOps and Cloud Native technology
                </p>
                <transition-group name="drop-down" mode="out-in">
                  <div key="input" v-show="!showSubscribeSuccess">
                    <div class="input-group" >
                      <input type="email" class="form-control" placeholder="Email address" v-model="emailAddress" aria-label="email address" aria-describedby="basic-addon2" tabindex="1">
                      <div class="input-group-append">
                        <button class="input-group-text button button--red" id="basic-addon2" @click.prevent="subscribeToNewsletter()" tabindex="2">SUBSCRIBE</button>
                      </div>
                    </div>
                    <div class="pt-3">
                      <a href="#" @click.prevent="goToResults()" tabindex="3"><small>Just show me the results</small></a>
                    </div>
                  </div>

                  <div v-show="showSubscribeSuccess" key="confirmation">
                    <div class="h1 mb-4 text-green">Subscription confirmed</div>
                  </div>
                </transition-group>
                <transition name="drop-down" mode="out-in" appear>
                  <p class="text-red pt-3" v-show="showSubscribeError"><small>Something went wrong subscribing you to the newsletter</small></p>
                </transition>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
    </div>
  </div>
</div>

