<nav aria-label="Header" id="header" class="top-menu">
  <div class="container">
    <div class="left">
      <a href="/">
        <div id="logo" class="logo"></div>
      </a>
    </div>
  </div>

</nav>

<nav aria-label="Header" id="mobile-header">
  <a href="/" class="logo">
    <img id="logo" class="logo" src="/img/005-vamp/Logo/logo-long-colour.svg" alt="">
  </a>
</nav>

<ul id="mobile-menu">

  {{ $currentNode := .}}

  {{range .Site.Menus.main}}
  <li>
    <a href="{{.URL}}">{{ .Name }}</a>
    {{if .HasChildren }}
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    {{ end }}
  </li>
  <ul>

    {{range .Children}}
    <li>
      <a href="{{.URL}}">{{.Name}}</a>
      {{if .HasChildren }}
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      {{ end }}
    </li>

    <ul>
      {{range .Children}}
      <li>
        <a href="{{.URL}}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </ul>
  {{ end }}
</ul>

<div id="search-bar" class="search-bar">
  <p class="search-bar__icon"><i class="fa fa-lg fa-search"></i> </p>
  <div class="search-bar__input">
    <input type="text" name="search">
  </div>
  <div class="search-bar__exit">
    <i class="fa fa-lg fa-times"></i>
  </div>

  <div class="inline-search-results">
    <ul>

    </ul>
  </div>
</div>


