<nav aria-label="Header" id="header" class="navbar navbar-sticky">
  <div class="container">
    <div class="left">
      <a href="/">
        <div id="logo" class="logo"></div>
      </a>
      <div class="navbar-items">
          {{ partial "popovers/we-are-hiring" . }}
      </div>
    </div>

    <div class="right">
      <div class="navbar-items" id="navbar-items">
        {{ range .Site.Menus.topnav }}
        <a href="{{.URL}}" data-parenturl="{{.URL}}" class="navbar-item top-nav-{{.Identifier}}">{{.Name}} {{if ne .Identifier "support" }}<i class="ml-2 fa fa-angle-down"></i>{{end}}</a>
        {{ end }}
        <a href="/about/" data-parenturl="/about/" class="navbar-item">About</a>
        <a href="https://medium.com/vamp-io" data-parenturl="/blog/" target="_blank" class="navbar-item">Blog</a>
      </div>
      {{ partial "popovers/nav-product-popover" . }}
      {{ partial "popovers/nav-developers-popover" . }}
      <div class="search" style="display: none;">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="search the docs..." class="search-input" autofocus="autofocus">
      </div>
      <div class="download">
        <a href="/discovery-pilot/" class="button button--red">
          Try Vamp
        </a>
      </div>
    </div>
  </div>

</nav>

<nav aria-label="Header" id="mobile-header">
  <a href="/" class="logo">
    <img id="logo" class="logo" src="/img/005-vamp/Logo/logo-long-colour.svg" alt="">
  </a>
  <div class="right">
    <a href="https://github.com/magneticio/vamp" target="_blank" class="github-logo">
      <i class="fa fa-lg fa-github" aria-hidden="true"></i>
    </a>
    <div class="hamburger">
      <i class="fa fa-lg fa-bars" aria-hidden="true"></i>
    </div>
  </div>

</nav>

<ul id="mobile-menu">

  {{ $currentNode := .}}

  {{range .Site.Menus.main}}
  <li>
    <a href="{{.URL}}">{{ .Name }}</a>
    {{if .HasChildren }}
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    {{ end }}
  </li>
  <ul>

    {{range .Children}}
    <li>
      <a href="{{.URL}}">{{.Name}}</a>
      {{if .HasChildren }}
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      {{ end }}
    </li>

    <ul>
      {{range .Children}}
      <li>
        <a href="{{.URL}}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </ul>
  {{ end }}
</ul>

