<div id="developersPopover" style="display: none">
  <div class="popover-menu-body">
    <a href="/documentation/" class="popover-menu-item">Documentation
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/documentation/tutorials" class="popover-menu-item">Guides & Tutorials
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/documentation/api/api-reference" class="popover-menu-item">API Reference
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/community" class="popover-menu-item">Community
      <i class="fa fa-caret-right"></i>
    </a>
    <div class="popover-menu-header">By Platform</div>
    <a href="/platforms/dcos/" class="popover-menu-item">DCOS</a>
    <a href="/platforms/azure/" class="popover-menu-item">Azure</a>
    <a href="/platforms/kubernetes/" class="popover-menu-item">Kubernetes</a>
    <a href="/documentation/" class="popover-menu-item">... View All
      <i class="fa fa-caret-right"></i>
    </a>
  </div>
</div>
