{{ partial "head.html" . }}
{{ partial "top_nav.html" . }}
{{ partial "sub_head.html" . }}

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                {{ .Content }}
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <h2>Packages</h2>
                <a href="{{ $.Site.Data.downloads.common.url }}">
                    {{ $.Site.Data.downloads.common.package }}-{{ $.Site.Data.downloads.common.version }}
                </a>
                ({{ $.Site.Data.downloads.common.size }})
                <p>
                    {{ $.Site.Data.downloads.stable.comment }}
                </p>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}