{{ partial "head" . }}

<div class="page events">
  {{ partial "nav-home" . }}

  <div class="events-masthead hero-background">
    <div class="container">
      <div class="header-content row">
        <div class="header-content-inner col-md-12">
          <h1>{{.Title | markdownify}}</h1>
        </div>
      </div>
    </div>
  </div>

    <div class="container pt-5">
      <div class="row">
        <div class="col-sm-12 markdowned">
            {{.Content}}
        </div>
      </div>
    </div>
</div>

{{ partial "footer" .}}
