{{ $currentMenuEntry := .Scratch.Get "currentMenuEntry" }}
{{ $current := .Permalink }}
{{ $isCurrent := eq $current (printf "%s%s/" ($currentMenuEntry.URL | absURL) .Site.Params.version) }}

<a {{ if $isCurrent }}class="current"{{ end }} title="{{ $currentMenuEntry.Name }}" href="{{ $currentMenuEntry.URL | absURL }}{{ .Site.Params.version }}">
    {{ $currentMenuEntry.Pre }}
    {{ $currentMenuEntry.Name }}
</a>

{{ if $currentMenuEntry.HasChildren }}
<ul>
    {{ range $currentMenuEntry.Children }}
        {{ if eq ((split .URL "/") | len) 4 }}

            {{ $isCurrent := eq $current (printf "%s" (.URL | absURL)) }}

            <a {{ if $isCurrent }}class="current"{{ end }} title="{{ .Name }}" href="{{ .URL | absURL }}">
                {{ index (split .URL "/") 2 }}
            </a>
        {{ end }}
    {{ end }}
</ul>
{{ end }}