<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{{ .Title }} | vamp.io">
        {{ if eq .Section "blog"}}
        <meta property="og:type" content="article">
        {{end}}
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:image" content="http://vamp.io/img/vamp_logo_blue_circle.png">
        <meta property="og:site_name" content="Vamp.io">
        {{ if .IsPage }}
            {{ if .Description }}
                <meta name="description" content="{{ .Description }}">
                <meta property="og:description" content="{{ .Description }}">
                <meta property="twitter:description" content="{{ .Description }}">
            {{else}}
                <meta name="description" content="{{ .Summary }}">           
                <meta property="og:description" content="{{ .Summary }}">           
                <meta property="twitter:description" content="{{ .Summary }}">           
            {{end}}
            {{ if .Params.tags}}
                <meta name="keywords" content="{{ range .Params.tags }}{{.}} {{end}}">
            {{end}}                
        {{end}}
        <meta property="twitter:site" content="vamp.io">
        <meta property="twitter:title" content="{{ .Title }} | vamp.io">
        <meta property="twitter:image" content="http://vamp.io/img/vamp_logo_blue.png">        
        <meta property="twitter:creator" content="vamp.io">    
        <meta property="twitter:url" content="{{.Permalink}}">    
        <meta property="twitter:card" content="summary">    
        <title>{{ if .IsPage }}{{.Title }} - {{ .Section}} - {{ end }} {{ .Site.Title }}</title>
        <link rel="stylesheet" href="/vendor/theme/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/css/flat-ui.min.css">
        <link rel="stylesheet" href="/vendor/theme/common-files/css/icon-font.css">
        <link rel="stylesheet" href="/vendor/theme/common-files/css/animations.css">
        <link rel="stylesheet" href="/css/ui.min.css" >
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon-192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">

        <!-- start Mixpanel -->
        <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("3dc73f826819c8e11d0d9898ca4291c8");</script>
        <!-- end Mixpanel -->
    </head>
<body>
<div class="page-wrapper">
