<div id="home">
    <!--the landing page has a separate header because of the colors and maybe some other adjustments         -->

<header class="header-3">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12 navbar-inverted" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="logo" href="/"><img src="/img/vamp_logo_blue.svg" alt="vamp"></a>
                    <span id="alpha">alpha</span>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="/what-is-vamp">WHAT IS VAMP?</a></li>
                        <li><a href="/quick-start/">QUICK START</a></li>
                        <li><a href="/documentation/">DOCS</a></li>
                        <li><a href="/blog/">BLOG</a></li>
                        <li><a href="https://github.com/magneticio/vamp/" target="_blank">GITHUB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>
<section class="content-5 header-3-sub">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 hero-text">
                <h1>Deploy and manage microservices with power and ease.</h1>
                <p class="lead">Vamp, or the <em>Very Awesome Microservices Platform</em>, takes
                    the pain out of running complex and critical service based architectures. Vamp's core features are a platform-agnostic microservices DSL, powerful A-B testing/canary releasing, autoscaling and an integrated metrics & event engine.
                </p>
                <p class="btn-row">
                    <a class="btn btn-info btn-docs" href="/documentation">Learn more</a>                    
                    <a class="btn btn-info btn-getting-started" href="/getting-started"><img class="hidden-sm button-icon" src="img/logo-docker.svg">Quick start with Docker</a>
                </p>
                <a href="/installation/" class="version-link">Vamp-core {{ $.Site.Data.downloads.dist.stableCore }} "{{ $.Site.Data.downloads.dist.stableCodeName }}" licensed under {{ $.Site.Data.downloads.dist.license }}</a>
            </div>                          
<!--             <div class="col-md-6">
                <div class="hero-image">
                </div>
            </div> -->
    </section>
<section class="social-row bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="social-btns-wrapper">
                <a href="https://twitter.com/share" class="twitter-share-button twitter-button" data-url="http://vamp.io" data-via="magnetic_io" data-hashtags="microservices">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                 <iframe src="https://ghbtns.com/github-btn.html?user=magneticio&repo=vamp&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>                
            </div>
        <div class="subscribe-form">
            <form action="//magnetic.us9.list-manage.com/subscribe/post?u=c709b3ab8cce9e00d617e01b6&amp;id=c1465e21d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" style="display: inline" target="_blank" novalidate>
                <div class="mc-field-group input-group">
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email">
                        <span class="input-group-btn">
                            <button type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe-1" class="btn btn-info">SIGN UP</button>
                        </span>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>    
<section class="content-5">
    <div class="container">
        <div class="row features">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>
                Use a Container Manager or PaaS of your choice</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="lead">
                    Vamp leverages the power of existing container management solutions. Currently we support
                     <a href="https://docker.com" target="_blank">Docker</a> and <a href="https://mesosphere.com/product/" target="_blank">Mesosphere's Marathon</a>, Kubernetes and Docker Swarm are on the roadmap.
                 </p>
                <div class="integrations-row row">
                    <div class="col-sm-4 integration">
                        <img src="img/docker-logo.png">
                    </div>
                    <div class="col-sm-4 integration">
                        <img src="img/mesosphere-logo.png">
                    </div>
                    <div class="col-sm-4 integration">
                        <img src="img/gce.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="integrations-row row">
                    <div class="col-sm-4 integration">
                        <button class="btn btn-info btn-wide">Run Vamp with Docker</button>
                    </div>
                    <div class="col-sm-4 integration">
                        <button href="/getting-started/" class="btn btn-info btn-wide">Run Vamp with Mesosphere</button>
                    </div>
                    <div class="col-sm-4 integration">
                        <button class="btn btn-info btn-wide disabled ">Kubernetes coming soon!</button>
                    </div>
                </div>
            </div>
        </div>        

    </div>
</section>
</div>