<section class="content-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Build, deploy and manage microservices based architectures with power and ease.</h3>
                <p class="lead">Vamp, or the <em>Very Awesome Microservices Platform</em>, takes
                    the pain out of running complex and critical service based architectures.
                    Vamp's core features are a microservices DSL, A-B testing/canary releasing
                    on everything and self-healing based on realtime performance metrics.</p>
                    <img class="teaser_image" src="img/overview.svg" alt="">
                <p class="lead">Using the Vamp DSL, you specify all of your dependencies and runtime behaviour, like
                what traffic should go where and what SLA levels your service should stick to. Think platform independent
                AWS Cloudformation with added fairy dust.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="screen">
<pre><span class="kwd">name: </span><span class="pln">my-blueprint</span><span class="kwd">
  endpoints:
    frontend.ports.port: </span><span class="pln">$PORT
</span><span class="kwd">clusters:
</span><span class="pln">  </span><span class="kwd">frontend:
</span><span class="pln">    </span><span class="kwd">services:
</span><span class="pln">      </span><span class="pun">-</span><span class="pln">
        </span><span class="kwd">breed: </span><span class="pln">apache/final
        </span><span class="kwd">scale:
</span><span class="pln">          </span><span class="kwd">cpu: </span><span class="pln">0.2
          </span><span class="kwd">memory: </span><span class="pln">120
          </span><span class="kwd">instances: </span><span class="pln">2
        </span><span class="kwd">routing:
</span><span class="pln">          </span><span class="kwd">weight: </span><span class="pln">95
      </span><span class="pun">-</span><span class="pln">
        </span><span class="kwd">breed: </span><span class="pln">apache/experimental
        </span><span class="kwd">scale:
</span><span class="pln">          </span><span class="kwd">cpu: </span><span class="pln">0.2
          </span><span class="kwd">memory: </span><span class="pln">120
          </span><span class="kwd">instances: </span><span class="pln">2
        </span><span class="kwd">routing:
</span><span class="pln">          </span><span class="kwd">weight: </span><span class="pln">5
          </span><span class="kwd">filters:
</span><span class="pln">            </span><span class="pun">-</span><span class="pln"> </span><span class="kwd">condition: </span><span class="pln">ua = android
    </span><span class="kwd">sla:
</span><span class="pln">      </span><span class="kwd">type: </span><span class="pln">sliding_window
      </span><span class="kwd">metric: </span><span class="pln">response_time
        </span><span class="kwd">threshold:
</span><span class="pln">          </span><span class="kwd">upper: </span><span class="pln">1000
          </span><span class="kwd">lower: </span><span class="pln">100
        </span><span class="kwd">window:
</span><span class="pln">          </span><span class="kwd">interval: </span><span class="pln">10
          </span><span class="kwd">cooldown: </span><span class="pln">10
        </span><span class="kwd">reset:
</span><span class="pln">          </span><span class="kwd">time: </span><span class="pln">20
      </span><span class="kwd">escalation:
</span><span class="pln">        </span><span class="kwd">scale_instances:
</span><span class="pln">          </span><span class="kwd">minimum: </span><span class="pln">1
          </span><span class="kwd">maximum: </span><span class="pln">3
          </span><span class="kwd">scale_by: </span><span class="pln">1
                    </span></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="lead">Vamp is scalable, event driven, fully extensible, using Scala and Go. We are currently getting ready to ship our first alpha release at the
                    end of March. Sign up and we'll notify you when we're ready to roll...</p>
            </div>
        </div>
        <div class="row">
            <div class="subscribe-form col-sm-6 col-sm-offset-3">
                <form action="//magnetic.us9.list-manage.com/subscribe/post?u=c709b3ab8cce9e00d617e01b6&amp;id=c1465e21d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" style="display: inline" target="_blank" novalidate>
                    <div class="mc-field-group input-group">
                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter your email address">
                            <span class="input-group-btn">
                                <button type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" type="button">NOTIFY ME</button>
                            </span>
                    </div>
                </form>

            </div>
        </div>
        <div class="row features">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Sounds awesome, tell me more...</h3>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="icon-cloud2"></span>
                <h6>Cloud & PaaS Agnostic</h6>
                <p>Vamp has no preference for Clouds. We run on AWS, Google Compute Engine, VmWare or plain iron.
                    <br>
                    Vamp can also directly integrate with
                    PaaS platforms and Container Management Solutions. Currently we support Apache Mesos and Marathon. Integrations with CloudFoundry,
                    Google Container Engine and Amazon EC2 Container Service are on the roadmap.
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="icon-github-01"> </span>
                <h6>Open Source & Enterprise</h6>
                <p>Vamp is being developed as open source core under the Apache 2.0 License,
                    free to use and extend for everyone.<br/>
                    On top of Vamp Open Source, we are developing modules that address typical enterprise needs,
                    like extra security, LDAP integration and audit trailing.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="icon-db-database-03"> </span>
                <h6>Big Data Pipeline</h6>
                <p>Vamp collects tons of metrics on all running services and uses these metrics to monitor, adjust and scale up services
                    based on your thresholds and criteria. Of course, we expose this data over our API so you can also hook
                    it into your own monitoring solution. Data driven infrastructure is here.
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="icon-tlheal"> </span>
                <h6>Self Healing</h6>
                <p>Vamp allows <i>self healing</i> of services.<br>Integrating our DSL with a live
                    feed of all health data available, we are able to make smart decisions on what should happen when
                    Cyber Monday hits or when code goes haywire. This magic depends on our integration with underlying PaaS & IaaS platforms, together with our Big Data driven SLA
                    monitoring.</p>            </div>
        </div>
    </div>
</section>