<header class="header-3">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="logo" href="/"><img src="/img/vamp_logo_blue_circle.svg" alt="vamp"></a>
                    <span id="alpha">alpha</span>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="/documentation/">WHAT IS VAMP?</a></li>
                        <li><a href="/quick-start/">QUICK START</a></li>
                        <li><a href="/documentation/">DOCS</a></li>
                        <li><a href="/blog/">BLOG</a></li>
                        <li><a href="https://github.com/magneticio/vamp/" target="_blank">GITHUB</a></li>
                        <li><a href="https://gitter.im/magneticio/vamp" target="_blank">Gitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>
