
<!--head-->

{{ partial "head.html" . }}

<!--/head-->


<!--top nav-->

{{ partial "top_nav.html" . }}

<!--/top nav-->


    <section class="content-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Sorry, that page doesn't exist!</h2>
                    <p>or does it...</p>
                    <img src="/img/cat.gif">
                    <a class="muted small pull-right" style="margin-right: 30px" href="https://surrealsciencestuff.wordpress.com/">source</a>
                </div>
            </div>
        </div>
    </section>


{{ partial "footer.html" . }}


