#app-maturity-calculator {
  [v-cloak] {
    display: none;
  }

  .card {
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    border: none;
    padding: 2rem;
  }

  .result-card {
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    border: none;
    border-radius: 8px;

    .result-card-upper {
      padding: 2rem;
      border-radius: 8px 8px 0 0;
      background-color: $color-white-squeeze;
      color: $color-blue-dianne;
    }

    .result-card-lower {
      padding: 2rem;
      border-radius: 0 0 8px 8px;
      color: $color-blue-dianne;
    }

    ul.result-card-usp-list {
      li {
        margin-bottom: 1rem;
      }
    }
  }

  .button-bar {
    text-align: end;
  }

  .result-title {
    padding-top: .75rem;
    font-size: 2rem;
    font-weight: 500
  }

  .level-block {
    background: 0 0;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
    color: #e9ecef;
    padding: 1rem 2rem;
    font-weight: 300;
    border-left: 10px solid #e9ecef;
    letter-spacing: 1px;
    height: 75px;
    display: flex;
    align-items: center;
    margin-left: 1rem;

    &.level-block-active {
      font-weight: 500;
      color: inherit;

      &.level-block-color-0 {
        border-left: 10px solid #F7E400;
      }

      &.level-block-color-1 {
        border-left: 10px solid #F8AC1C;
      }

      &.level-block-color-2 {
        border-left: 10px solid #1CB8F8;
      }

      &.level-block-color-3 {
        border-left: 10px solid #1CF864;
      }
    }
  }

  .custom-radio {
    margin-bottom: .75rem;
  }

  .progress-bar {
    background-color: $color-blue-dianne !important;
  }

  .email-modal {
    margin: -1rem;

    .email-modal-top {
      padding: 2rem 3rem;
      height: 300px;
      background: linear-gradient(45deg, #234B5F, #142D3C);
      text-align: center;
    }
    .email-modal-bottom {
      padding: 1rem 2rem 2rem 2rem;
      margin-top: 7rem;
      background: white;
      height: auto;
      text-align: center;
      p {
        font-size: 18px;
      }
    }

    .email-modal-logo {
      height: 32px;
      width: 32px;
      display: inline-block;
      background-image: url('/img/005-vamp/Logo/logo.svg');
      background-repeat: no-repeat;
    }

    .email-modal-header {
      font-size: 28px;
      color: $color-white-squeeze;
      padding: 1rem 0;
      margin-bottom: 1rem;
      letter-spacing: 3px;
      font-weight: 100;
      text-transform: uppercase;
      strong {
        font-weight: 400;
      }
    }

    .email-modal-whitepaper {
      width: 180px;
      box-shadow: 0 10px 30px rgba(0,0,0,.08);
      border-radius: 2px;
    }
  }
}
