{{ partial "head" . }}

{{ partial "nav" . }}

<div class="page product discovery-pilot">
  <section class="lander-row--white py-3 py-lg-5 hero-background">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="h1 text-left mb-5 hero-text">{{.Params.header.title | markdownify}}</h1>
          <p class="h2 mb-4 text-lead">{{.Params.header.subtitle | markdownify}}</p>
          <div class="download">
            <a href="https://calendly.com/diederick" target="_blank" class="button button--red">
              Contact Sales
            </a>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </section>

  <!-- content section -->

  <section class="lander-row--white mb-3 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="h2">
            {{ .Params.lead.header | markdownify }}
          </h2>
        </div>
        <div class="col-sm-12 markdowned">
          <p class="text">{{ .Params.lead.content | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>

  <!--stages -->

  <section class="lander-row--white mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="h2">
            {{ .Params.stages.header | markdownify }}
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="qa-message-list" id="wallmessages">
        <div class="message-item">
          <div class="avatar"><img src="/img/vendor/start.png"></div>
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="user-detail">
                <h5 class="h5 mb-2">{{ .Params.stages.one.header | markdownify }}</h5>
                <div class="post-meta">
                  <div class="asker-meta">
                    <span class="qa-message-what"></span>
                    <span class="qa-message-when">
												<p class="text text-left">{{ .Params.stages.one.subheader | markdownify }}</p>
											</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="qa-message-content markdowned">
              <ul class="mb-0">
                {{ range .Params.stages.one.bullets }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        <div class="message-item">
          <div class="avatar"><img src="/img/vendor/bike.png"></div>
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="user-detail">
                <h5 class="h5 mb-2">{{ .Params.stages.two.header | markdownify }}</h5>
                <div class="post-meta">
                  <div class="asker-meta">
                    <span class="qa-message-what"></span>
                    <span class="qa-message-when">
												<p class="text text-left">{{ .Params.stages.two.subheader | markdownify }}</p>
											</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="qa-message-content markdowned">
              <ul class="mb-0">
                {{ range .Params.stages.two.bullets }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        <div class="message-item">
          <div class="avatar"><img src="/img/vendor/finish.png"></div>
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="user-detail">
                <h5 class="h5 mb-2">{{ .Params.stages.three.header | markdownify }}</h5>
                <div class="post-meta">
                  <div class="asker-meta">
                    <span class="qa-message-what"></span>
                    <span class="qa-message-when">
												<p class="text text-left">{{ .Params.stages.three.subheader | markdownify }}</p>
											</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="qa-message-content markdowned">
              <ul class="mb-0">
                {{ range .Params.stages.three.bullets }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- terms & conditions -->

  <section class="lander-row--grey pt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mb-3">
          <div class="text-left mb-0 pb-4">
            <h2 class="h2 mb-3">
              {{ .Params.terms.header | markdownify }}
            </h2>
            <div class="markdowned">
              <ul>
                {{ range .Params.terms.bullets }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--cta section -->

  <section class="lander-row--red">
    <div class="container py-3 text-center">
      <div class="row">
        <div class="col-sm-12  col-md-10 offset-md-1">
          <h1 class="h1 mb-4">
            For more information on the Vamp Discovery Pilot
          </h1>
          <div class="download mb-4">
            <a href="https://calendly.com/diederick" target="_blank" class="button button--white">
              Contact Sales
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer" .}}
