{{ partial "head" . }}

{{ partial "nav-home" . }}

<div class="bootstrap-landing">
	<section class="py-5 hero-background bg-dark">
		<div class="container">
				<div class="row justify-content-center mb-3 mb-lg-5">
					<div class="col-12 col-lg-10">
						<h1 class="text-center display-3 mb-3 text-white pb-3 pt-5">Releasing <span class="text-primary">without</span> the guesswork</h1>
						<div class="lead text-muted text-center mb-4">
							Avoid the sleepless nights and pager duty panic with release management that gives you
							control over software delivery every step of the way
						</div>
						<div class="text-center">
							<a href="/dzone/#ask-the-expert-cta" class="btn btn-primary">Book a test drive</a>
						</div>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-sm-4">
						<i class="fa fa-rocket font-size-xlg mb-3 text-white"></i>
						<h3 class="text-white">Shorten delivery cycles</h3>
						<p class="text-muted mb-4 mb-md-0">Make software run smoother and business move faster by continuously validating releases.</p>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-road font-size-xlg mb-3 text-white"></i>
						<h3 class="text-white">Keep projects on track</h3>
						<p class="text-muted mb-4 mb-md-0">IT projects are full of obstacles. Benefit from a managed process to save approval chaos in your release train.</p>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-line-chart font-size-xlg mb-3 text-white"></i>
						<h3 class="text-white">Make IT a business driver</h3>
						<p class="text-muted mb-4 mb-md-0">
							Whether or not you believe that every company should be a software company, ensure your delivery process delivers business outcomes.
						</p>
					</div>
			</div>
		</div>
	</section>
	<section class="py-5 bg-gradient-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 text-center">
					<h2 class="mb-4">Test in production – the only way that works for cloud</h2>
					<p class="text-muted mb-5 font-size-lg">
						Vamp lets you re-gain control over your software delivery lifecycle. Depend on automated releasing of microservices simply, safely and at scale. We are the only provider that offers a step-by-step analytics-based approach to releasing software in the only way that works for cloud – live in production.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 text-center">
					<h3 class="mb-5 font-weight-bold">How Vamp supports you</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>Test in production</h4>
							<p class="text-muted mb-4">Benefit from precisely-targeted user segments and phased release plans to control which users see what features and when.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>Smart Release Strategies</h4>
							<p class="text-muted mb-4">Release when you want, day or night. Let your teams deploy when they like. Your users only see a feature when it's business-ready.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>Safety first</h4>
							<p class="text-muted mb-4">No buttons to push. Sleep soundly, secure in the knowledge there is an automated safety net in place to protect you and your users.</p>
						</div>
					</div>
			</div>
			</div>
				<div class="row">
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>Managed Service</h4>
							<p class="text-muted mb-4">Straight-forward experience. You manage your services. We manage Vamp, either in our cloud or yours.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>Multi-cloud</h4>
							<p class="text-muted mb-4">
								Use your favourite Kubernetes, cloud provider managed Kubernetes service or BYOC (bring your own cluster). We support Google Cloud, AWS, Azure and hybrid-cloud.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-secondary"></i>
						<div class="ml-3">
							<h4>360 observability</h4>
							<p class="text-muted mb-4">Visualise, centrally-manage and control your entire release landscape across multiple teams and multiple clusters with dashboards and ChatOps support.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5 bg-red">
		<div class="container">
			<div class="row">
				<div class="col-sm-4"><h5 class="text-white mb-4 mb-md-0">Satisfy product managers with 60% faster time-to-market</h5></div>
				<div class="col-sm-4"><h5 class="text-white mb-4 mb-md-0">Keep development teams happy with 30% faster coding times</h5></div>
				<div class="col-sm-4"><h5 class="text-white mb-4 mb-md-0">Keep all your teams happy with 99.99% lower pager panic</h5></div>
			</div>
		</div>
	</section>
	<section class="py-5 border-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center">
					<h2 class="mb-5">Proven panic prevention track record</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-sm-4 mb-4">
					<div class="text-center display-4 text-secondary">
						146.000
					</div>
					<h6 class="text-center">releases</h6>
				</div>
				<div class="col-sm-4 mb-4">
					<div class="text-center display-4 text-secondary">
						7.300
					</div>
					<h6 class="text-center">automated rollbacks</h6>
				</div>
				<div class="col-sm-4 mb-4">
					<div class="text-center display-4 text-secondary">
						438.000
					</div>
					<h6 class="text-center">minutes saved on incident response</h6>
				</div>
				<div class="col-12 col-lg-8 text-center">
					<h3 class="mb-4">...and counting...</h3>
				</div>
			</div>
<!--			<div class="row">-->
<!--				<div class="col-12 col-md-5">-->
<!--					<p class="blockquote mb-4 p-5 card card-shadow">-->
<!--						<img class="mb-3" src="/img/marketing/landing/dora_logo.png" style="width: 100px;" alt="Dora logo">-->
<!--						“Successfully evolved DevOps companies are 44 times more likely to have repeatable and automated software configuration and release automation.”-->
<!--						<small class="d-block pt-3 text-muted">- DevOps Research and Assessment (DORA), 2018 State of DevOps Report</small>-->
<!--					</p>-->
<!--				</div>-->
<!--				<div class="col-12 col-md-1 border-right d-none d-md-block"></div>-->
<!--				<div class="col-12 col-md-5 offset-md-1">-->
<!--					<p class="blockquote mb-4 p-5 card card-shadow">-->
<!--						<img class="mb-3" src="/img/marketing/landing/puppet_logo.png" style="width: 100px" alt="Puppet logo">-->
<!--						“We are often asked “Where do we start?” We recommend starting where the pain is most acute and visible, which is typically application deployments — the boundary between Dev and Ops.”-->
<!--						<small class="d-block pt-3 text-muted">-->
<!--							– Puppet, State of DevOps Report 2018-->
<!--						</small>-->
<!--					</p>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</section>
	<section class="py-5" id="roi-calculator">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center">
					<h2 class="mb-5">Explore the cost benefits of analytics-based software releasing</h2>
					<p class="text-muted">
						At Vamp we help customers put their DevOps strategy to work by adding an average of 30% business value to their current setup. Take this two minute survey to find out how increasing your DevOps maturity with release automation can increase your DevOps ROI.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-12 col-lg-8">
					<div id="chat" style="height: 400px;"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5 bg-dark">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center">
					<h2 class="mb-4 text-white" id="ask-the-expert-cta">Expert advice</h2>
					<a href="https://calendly.com/vamp-experts/60min?utm_campaign=dzone" target="_blank" class="btn btn-primary mb-4">Book a test drive</a>
					<p class="text-muted">
						Tell us where you are on your cloud and microservice journey and we’ll tell you your next steps.
						You can ask us anything you like but our strongest topics are
						cloud, microservices and of course - release management.
					</p>
				</div>
			</div>
			<div class="row p-lg-5">
				<div class="col-sm-6">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-white"></i>
						<div class="ml-3">
							<h6 class="text-white">You’ll be in direct contact with experts only</h6>
							<p class="text-muted mb-3">We get it, this stuff is complicated, wouldn’t it be refreshing if you could talk to someone who speaks your language? Our experts are engineers, but they like to translate technology to people and business too.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="d-flex">
						<i class="fa fa-arrow-circle-right text-white"></i>
						<div class="ml-3">
							<h6 class="text-white">Bring your own containers</h6>
							<p class="text-muted mb-3">After the initial conversation, if you like what you hear then you can book a longer test drive with some of your own microservices. This works best if you have two services with a dependency. It could be a front-end service and a backend service or two backend services.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center py-4">
				<div class="col-12 col-lg-10 text-center">
					<h2 class="text-white mb-4">We don't claim silver bullets, just sound advice</h2>
				</div>
			</div>
		</div>
	</section>
</div>

<script data-botsquad='{"id":"caad0a50-37d8-4896-94d4-c3d62b001c1b", "socket": "wss://bsqd.me/socket", "container_id": "chat", "layout": "contained"}' src="https://bsqd.me/js/host.js"></script>


{{ partial "footer" .}}
