{{ partial "head" . }}

{{ partial "nav-home" . }}

<div class="container">
  <div id="crpt-plain-vamp" class="crpt-plain">
    <div class="pt-cols pt-cols-3">
      <div class="pt-cols-side">
        <div class="pt-list-block">
          <div class="pt-list-item"># Users</div>
          <div class="pt-list-item font-weight-bold">Release strategies</div>
          <div class="pt-list-item">Advanced canary release</div>
          <div class="pt-list-item">Feature toggling</div>
          <div class="pt-list-item">A/B testing</div>
          <div class="pt-list-item font-weight-bold">Continuous validation</div>
          <div class="pt-list-item">Vamp observability</div>
          <div class="pt-list-item">IT monitoring integrations</div>
          <div class="pt-list-item">Business monitoring integrations</div>
          <div class="pt-list-item font-weight-bold">Support</div>
          <div class="pt-list-item">Online documentation</div>
          <div class="pt-list-item">Onboarding support one-off fee</div>
          <div class="pt-list-item">Service window for incidents</div>
          <div class="pt-list-item">Weekends</div>
          <div class="pt-list-item">Support through Slack</div>
          <div class="pt-list-item">Email</div>
          <div class="pt-list-item">SLA</div>
          <div class="pt-list-item font-weight-bold">Managed service</div>
        </div>
      </div>
      <div class="pt-cols-main">
        <div class="pt-col">
          <div class="pt-block">
            <div class="pt-back"></div>
            <div class="pt-title">Easy</div>
            <div class="pt-price">
              <div class="price-block"><span class="price">€1,500 p/m</span></div>
            </div>
            <div class="pt-list">
              <div class="pt-list-item">
                <div class="pt-text"># Users</div>
                <div class="pt-value">3</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Advanced canary release</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Feature toggling</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Vamp observability</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">IT monitoring integrations</div>
                <div class="pt-value">Standard</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Business monitoring integrations</div>
                <div class="pt-value">Standard</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Onboarding support one-off fee</div>
                <div class="pt-value">€1,500</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Service window for incidents</div>
                <div class="pt-value">-</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Weekends</div>
                <div class="pt-value">-</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Support through Slack</div>
                <div class="pt-value">-</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Email</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">SLA</div>
                <div class="pt-value">Best effort</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Managed service</div>
                <div class="pt-value">-</div>
              </div>
            </div>
            <div class="pt-footer">
              <a href="https://calendly.com/vamp-experts" target="_blank" class="button button--red">
                Get a guided tour
              </a>
            </div>
          </div>
        </div>
        <div class="pt-col">
          <div class="pt-block">
            <div class="pt-back"></div>
            <div class="pt-title">Professional</div>
            <div class="pt-price">
              <div class="price-block"><span class="price">€4,500 p/m</span></div>
            </div>
            <div class="pt-list">
              <div class="pt-list-item">
                <div class="pt-text"># Users</div>
                <div class="pt-value">4-25</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Advanced canary release</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Feature toggling</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Vamp observability</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">IT monitoring integrations</div>
                <div class="pt-value">2 custom integrations</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Business monitoring integrations</div>
                <div class="pt-value">1 custom integration</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Onboarding support one-off fee</div>
                <div class="pt-value">€4,500</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Service window for incidents</div>
                <div class="pt-value">09:00 - 17:00</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Weekends</div>
                <div class="pt-value">-</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Support through Slack</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Email</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">SLA</div>
                <div class="pt-value">4 hours</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Managed service</div>
                <div class="pt-value">-</div>
              </div>
            </div>
            <div class="pt-footer">
              <a href="https://calendly.com/vamp-experts" target="_blank" class="button button--red">
                Get a guided tour
              </a>
            </div>
          </div>
        </div>
        <div class="pt-col">
          <div class="pt-block">
            <div class="pt-back"></div>
            <div class="pt-title">Enterprise</div>
            <div class="pt-price">
              <div class="price-block"><span class="price">Custom quote</span></div>
            </div>
            <div class="pt-list">
              <div class="pt-list-item">
                <div class="pt-text"># Users</div>
                <div class="pt-value">Unlimited</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Advanced canary release</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Feature toggling</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">Vamp observability</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">IT monitoring integrations</div>
                <div class="pt-value">Custom</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Business monitoring integrations</div>
                <div class="pt-value">Custom</div>
              </div>
              <div class="pt-list-item pt-list-item-spacer"></div>
              <div class="pt-list-item">
                <div class="pt-text">A/B testing</div>
                <div class="pt-value"><div class="fa fa-check text-green"></div></div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Onboarding support one-off fee</div>
                <div class="pt-value">€8,000</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Service window for incidents</div>
                <div class="pt-value">24x7</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Weekends</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Support through Slack</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Email</div>
                <div class="pt-value">Yes</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">SLA</div>
                <div class="pt-value">2 hours</div>
              </div>
              <div class="pt-list-item">
                <div class="pt-text">Managed service</div>
                <div class="pt-value">Available</div>
              </div>
            </div>
            <div class="pt-footer">
              <a href="https://calendly.com/vamp-experts" target="_blank" class="button button--red">
                Get a guided tour
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" .}}
