{{ partial "head" . }}

{{ partial "nav" . }}

<div class="page product trial-signup">
	<section class="lander-row--white py-3 py-lg-5 hero-background">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<h1 class="h1 text-left mb-3 hero-text">{{.Params.header.title | markdownify}}</h1>
					<div class="mb-4 markdowned">{{.Content}}</div>
				</div>
        <div class="col-sm-5">
          <div class="card">
            <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/e30d10b4dc72b5df3aa21546dcf74c82810301"><script src="https://webforms.pipedriveassets.com/webforms.min.js"></script></div>
          </div>
        </div>
			</div>
		</div>
	</section>

  <section id="about-vamp-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-5">Vamp EE features</h2>
        </div>
        <div class="col-sm-4 text-center">
          <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="Experiment with releasing your applications"  class="image--small mb-4">
          <h3 class="h3">Experiment with releasing your applications</h3>
          <p class="text">
            Simulate a A/B split and merge traffic based on conditions, percentages or both. Canary Release your applications using automated workflows.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="Build on and extend your stack" class="image--small mb-4">
          <h3 class="h3">Build on and extend your stack</h3>
          <p class="text">
            Integrate with existing deployment pipelines using the API or the command line interface.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="Single pane of glass" class="image--small mb-4">
          <h3 class="h3">Single pane of glass</h3>
          <p class="text">
            Graphical UI and dashboards for clear information and easy management of existing point solutions.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>

{{ partial "footer" .}}
