{{ partial "head" . }}

{{ partial "nav" . }}

<div class="page product trial-expiry">
	<section class="lander-row--white py-3 py-lg-5 hero-background">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8 offset-md-2 card">
					<h1 class="h1 text-left mb-5 hero-text">{{.Params.header.title | markdownify}}</h1>
					<p class="h2 mb-4 text-lead">{{.Params.header.subtitle | markdownify}}</p>
					<div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/0e9dadb0350d113025504cad9ce3501c810301"><script src="https://webforms.pipedriveassets.com/webforms.min.js"></script></div>
				</div>
			</div>
		</div>
	</section>
</div>

{{ partial "footer" .}}
