$product-feature-col-height: 200px;
$product-headers-font-size: 20px;
.product {

  .product-role {
    box-shadow:  rgba(0, 0, 0, 0.08) 0 10px 30px 0;
    padding: 1rem 2rem;
  }

  .product-role-title {
    font-size: $product-headers-font-size;
  }

  ul.product-roles {
    list-style: disc;
    padding-left: 1rem;
    li {
      margin-bottom: 1rem;
    }
  }

  .product-features {
    .product-features-text-col {
      min-height: $product-feature-col-height;
      margin-bottom: 2rem;
      .product-features-title {
        font-size: $product-headers-font-size;
        margin-bottom: $spacer;
        letter-spacing: .05em;
        color: $blue-darker;
        font-weight: $font-weight-heavy;
      }
    }
    .product-features-img-col {
      min-height: $product-feature-col-height;
      margin-bottom: 2rem;
      background-image: url('/img/product/VampEE-automatedcanaryreleaseworkflow-static.png');
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
        background-image: url('/img/product/VampEE-automatedcanaryreleaseworkflow.gif');
      }
    }
  }
}
