<div id="productPopover" style="display: none">
  <div class="popover-menu-body">
    <a href="/product/" class="popover-menu-item">Features
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/product/use-cases/overview" class="popover-menu-item">Use cases
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/product/enterprise-edition/" class="popover-menu-item">Vamp Enterprise 1.0
      <i class="fa fa-caret-right"></i>
    <a href="/product/vamp-compared-to/" class="popover-menu-item">Vamp compared to…
      <i class="fa fa-caret-right"></i>
    </a>
    </a>
  </div>
</div>
