<div id="developersPopover" style="display: none">
  <div class="popover-menu-body popover-menu-body-wide">
    <a href="/documentation/" class="popover-menu-item">Documentation
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/documentation/installation/" class="popover-menu-item">Installation
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/documentation/api/api-reference/" class="popover-menu-item">API Reference
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="/documentation/cli/using-the-cli/" class="popover-menu-item">CLI Reference
      <i class="fa fa-caret-right"></i>
    </a>
    <div class="popover-menu-header">By Platform</div>
    <!--<a href="/documentation/installation/google-cloud-kubernetes/" class="popover-menu-item">-->
      <!--<img src="/img/vendor/gcloud_small.png" alt="google cloud">-->
      <!--Google Cloud Platform / EKS-->
    <!--</a>-->
    <!--<a href="/documentation/installation/azure-container-service/" class="popover-menu-item">-->
      <!--<img src="/img/vendor/azure_small.png" alt="azure">-->
      <!--Azure Kubernetes & Container Service</a>-->
    <a href="/documentation/installation/kubernetes/" class="popover-menu-item">
      <img src="/img/vendor/kubernetes_small.png" alt="kubernetes">
      Kubernetes</a>

    <a href="/documentation/installation/dcos/" class="popover-menu-item">
      <img src="/img/vendor/dcos_small.png" alt="dcos">

      DCOS</a>
  </div>
</div>
