.card {
  background-color: white;
  border-radius: 5px;
  color: #536171;
  display: block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }

  &.card-simple {
    background-color: white;
    box-shadow: none;
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    }
  }
}

.card-title {
  font-weight: 500 !important;
}

.card-text {
  margin-bottom: $spacer;
}

.card-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  text-align: center;
  padding: $spacer $spacer 2 * $spacer $spacer;
  margin-bottom: 2 * $spacer;
  min-height: 120px;

  .h2 {
    color: $color-blue-dianne !important;
  }
}

.card-footer {
  display: block;
}
