/* Variables */

/* Grid */
$container-width-desktop: 1160px;
$container-width-laptop: 1018px;
$container-width-tablet: 650px;
$container-width-mobile: 636px;
$container-width-mobile-small: 316px;

$columns: 15;
$gutter-size: 40px;

/* Colors */
/* For naming colors use: // http://chir.ag/projects/name-that-color/ */
$color-radical-red: #FF405E;
$color-brick-red: #C33750;
$color-big-stone: #142D3C;
$color-blue-dianne: #234B5F;
$color-ming: #37647D;
$color-bermuda-gray: #6991AA;
$color-jungle-mist: #C3D2DC;
$color-cascade: #96ADAA;
$color-white-squeeze: #F0F5FA;

/* Font-sizes */
$font-size-biggest: 52px;
$font-size-big: 40px;
$font-size-medium: 24px;
$font-size-medium-small: 15px;
$font-size-small: 13px;

/* Margins */
$small-margin: 20px;
$medium-margin: 40px;
$big-margin: 60px;