/* CSS RESET */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* Grid */

$container-width-desktop: 1160px;
$container-width-laptop: 1018px;
$container-width-tablet: 650px;
$container-width-mobile: 636px;
$container-width-mobile-small: 316px;

$columns: 15;
$gutter-size: 40px;

.container {
  margin: 0 auto;
  @media all and (min-width: 321px) {
    width: $container-width-mobile-small;
  }

  @media all and (min-width: 641px) {
    width: $container-width-mobile;
  }

  @media all and (min-width: 769px) {
    width: $container-width-tablet;
  }

  @media all and (min-width: 1025px) {
    width: $container-width-laptop;
  }

  @media all and (min-width: 1201px) {
    width: $container-width-desktop;
  }
}

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 321px) {
    width: $container-width-mobile-small + $gutter-size;
    margin: 10px (-($gutter-size/2));

  }

  @media all and (min-width: 641px) {
    width: $container-width-mobile + $gutter-size;
    margin: 20px (-($gutter-size/2));
    flex-direction: row;

  }

  @media all and (min-width: 769px) {
    width: $container-width-tablet + $gutter-size;
    margin: 30px (-($gutter-size/2));

  }

  @media all and (min-width: 1025px) {
    width: $container-width-laptop + $gutter-size;
    margin: 40px (-($gutter-size/2));

  }

  @media all and (min-width: 1201px) {
    width: $container-width-desktop + $gutter-size;
    margin: 40px (-($gutter-size/2));
  }

  //border: 1px solid yellow;

  &--wrap {
    flex-wrap: wrap;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.col {
  flex: 1;
  padding: 20px;


  @media all and (min-width: 641px) {
    //padding-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@for $i from 1 through 15 {
  .col-#{$i} {
  flex: none;
  //width: (($container-width-desktop + $gutter-size) / $columns) * $i;

    @media all and (min-width: 321px) {
      //width: (($container-width-mobile-small + $gutter-size) / $columns) * $i;
      width: 100%;
    }

    @media all and (min-width: 641px) {
      //width: (($container-width-mobile + $gutter-size) / $columns) * $i;
      width: 100%;
    }


    @media all and (min-width: 769px) {
      width: (($container-width-tablet + $gutter-size) / $columns) * $i;
    }

    @media all and (min-width: 1025px) {
      width: (($container-width-laptop + $gutter-size) / $columns) * $i;

    }

    @media all and (min-width: 1201px) {
      width: (($container-width-desktop + $gutter-size) / $columns) * $i;
    }
  }
}

.clear { /* Useful generic clearing class. */
  clear: both;
}

.last-col {
  margin-right: 0;
}

/* Variables */

// Colors
$red: #FF405E;
$dark-blue: #142D3C;
$medium-dark-blue: #234B5F;
$medium-light-blue: #37647D;
$light-blue: #C3D2DC;
$dark-grey: #96ADAA;
$light-grey: #F0F5FA;

$accent-color: #6991AA;

$red-hover: #C33750;
$dark-blue-hover: #234B5F;
$grey-hover: #6991AA;

// Font-sizes
$biggest: 52px;
$big: 40px;
$medium: 24px;
$medium-small: 15px;
$small: 13px;

// Margins
$small-margin: 20px;
$medium-margin: 40px;
$big-margin: 60px;

body {
  font-family: 'Roboto', sans-serif;
}

/* Components */

.page {
  min-height: 100vh;
  //padding-top: 80px;
  &.padding-fix {
    padding-top: 80px;
  }

  &.documentation {
    //background-color: red;
    background: linear-gradient(90deg, $light-grey 33%, white 33%);

    .header {
      color: $red;
      margin: 40px 0;

    }

  }
}

// Fonts
.header {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $dark-blue;
  font-size: 36px;

  @media all and (min-width: 641px) {
    font-size: 52px;
  }


}

.h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: $dark-blue;

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: $dark-blue;

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $dark-grey;
}

.text-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $dark-blue;

  &:not(:first-child):not(:last-child) {
    margin: 10px 0;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.text {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 15px;
  color: $dark-blue;
  line-height: 1.7;
}

// Buttons
.button {
  @extend .h3;
  //font-weight: 300;
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 40px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

  &--grey {
    background-color: $accent-color;
    color: white;

    &:hover {
      background-color: $dark-blue-hover;
    }

    &--ghost {
      background-color: transparent;
      color: $accent-color;
      border: 1px solid $accent-color;

      &:hover {
        background-color: $accent-color;
        color: white;
      }
    }

  }

  &--red {
    background-color: $red;
    color: white;

    &:hover {
      background-color: $red-hover;
    }

    &--ghost {
      background-color: transparent;
      color: $red;
      border: 1px solid $red;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }

  &--blue {
    background-color: $dark-blue;
    color: white;

    &:hover {
      background-color: $dark-blue-hover;
    }

    &--ghost {
      background-color: transparent;
      color: $dark-blue;
      border: 1px solid $dark-blue;

      &:hover {
        background-color: $dark-blue;
        color: white;
      }

    }
  }
}

// Lander rows
.lander-row {
  display: flex;
  justify-content: center;
  padding: 8px 0;


  @media all and (min-width: 321px) {
    padding: 8px 0;

  }

  @media all and (min-width: 641px) {
    padding: 22px 0;

  }

  @media all and (min-width: 769px) {
    padding: 40px 0;

  }

  @media all and (min-width: 1025px) {
    padding: 80px 0;

  }

  @media all and (min-width: 1201px) {
   padding: 80px 0;
  }


  &--blue {
    background-color: $dark-blue;

    .header, .h1, .h2, .text-header, .text {
      color: $light-grey;
    }
  }

  &--white {
    background-color: white;
  }

  &--grey {
    background-color: $light-grey;
  }

  &--red {
    background-color: $red;

    .header, .h2, .h3, .text {
      color: $light-grey;
    }
  }
}

.hero-space {
  padding-top: 14px + 20px;
  background: linear-gradient(45deg, $dark-blue-hover, $dark-blue);

  @media all and (min-width: 321px) {
    padding-top: 14px + 80px;
  }

  @media all and (min-width: 641px) {
    padding-top: 20px + 80px;
  }

  @media all and (min-width: 769px) {
    padding-top: 60px + 80px;
  }

  @media all and (min-width: 1025px) {
    padding-top: 80px + 80px;
  }

  @media all and (min-width: 1201px) {
    padding-top: 80px + 80px;
  }
}

// Inputs
.input-group {
  display: flex;

  input {
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    padding: 0 10px;

    &:focus {
      border: none;
      outline: none !important;
    }

  }

  button {
    border-radius: 0 5px 5px 0;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    padding: 10px;
  }
}

// single page
.menu {
  background-color: $light-grey;
  padding: 40px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  overflow-y: scroll;
}

.side-menu-item {
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  align-items: center;
  text-decoration: none;

  .bullet {
    width: 40px;
    display: flex;
    align-items: center;
    padding-top: 2px;

    img {
      width: 22px;
    }
  }

  .section-title {
    width: 5 * 40px;
  }

  .folding-indicator {
    width: 40px;
    text-align: right;
    line-height: 0;
  }

  &.active {
    .text {
      color: $red;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $dark-grey;
  }
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: $dark-blue;

  &.active {
    .text {
      color: $red;
    }
  }
}

.content {
  padding: 0 40px 40px 40px;
  margin-left: 400px;
  background-color: white;
  min-height: 100vh;
}

// Markdown implementation
.markdowned {
  h2 {
    @extend .h2;
    margin-top: 60px !important;

  }

  h3 {
    @extend .h3;
  }

  p {
    @extend .text;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ol {
    margin-left: 40px;
  }

  ul {
    list-style-type: square;
    margin-left: 40px;
  }

  li {
    margin: 20px 0;
    @extend .text;
  }

  a {
    color: $red;
  }

  em {
    color: $accent-color;
    font-weight: 200;
  }
}

.date {
  @extend .text;
  color: $accent-color;
  margin: 40px 0;

}

//Menu
.top-menu {
  position: fixed;
  width: 100vw;
  z-index: 9999;

  background-color: transparent;
  height: 80px;
  border-bottom: 1px solid rgba($light-grey, 0.1);

  &.always-active {
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba($dark-blue, 0.25);
    border-bottom: none;
    .top-menu-items {
      background-color: white;
      border-top: 1px solid $dark-blue;


      @media all and (min-width: 1025px) {
        border-top: none;

      }
    }

    .top-menu-item {
      transition: color 0.15s ease-in;

      color: $dark-blue;
    }

    .github-logo {
      i.fa {
        color: $dark-blue;
      }
    }

    .hamburger {
      color: $dark-blue;
    }
  }

  &.active {
    transition: background-color 0.15s ease-in;
    @extend .always-active;
  }

  .logo {
    height: 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .left, .right {
    height: 100%;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
  }
;

  .top-menu-items {
    display: none;

    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: $dark-blue;
    box-shadow: 0 4px 4px -2px rgba($dark-blue, 0.7);

    &.open {
      display: flex;
    }

    @media all and (min-width: 1025px) {
      display: flex;

      position: initial;
      width: initial;
      flex-direction: row;
      height: 100%;
      background-color: transparent;
      box-shadow: none;


    }
  }

  .top-menu-item {
    display: block;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid $medium-dark-blue;

    &:last-of-type {
      border-bottom: 0
    }


    @media all and (min-width: 1025px) {
      padding: 0 20px;
      height: 100%;
      width: initial;
      border-bottom: none;


      &.active {
        border-bottom: 1px solid $red;
      }
    }


  }

  .github-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;

    i.fa {
      transition: opacity 0.15s ease-in;
      transform: translate(0, -1px);
      color: $light-grey;
      opacity: 0.7;
    }

    &:hover {
      i.fa {
        opacity: 1;

      }
    }

  }

  .download {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;

    .button {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 300;
    }
  }

  .hamburger {
    height: 100%;
    color: $light-grey;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

      @media all and (min-width: 1025px) {
        display: none;
      }
    }
}

// Custom
.hero-space-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  .button {
    min-width: 180px;
  }

  @media all and (min-width: 641px) {
    flex-direction: row;
    width: 400px;
  }


}

.offer-item {
  display: flex;
  img {
    width: 64px;
    height: 64px;
  }

  .text {
    margin-left: 40px;
  }

  margin-bottom: 40px;
}

.lower-offer-item {
  display: flex;
  img {
    width: 32px;
    height: 32px;
  }

  .text {
    margin-left: 20px;
  }

  margin: 20px 0;

  &:first-of-type {
    margin-top: 40px;
  }
}

.top-bar {
  border-top: 1px solid $light-grey;
}

.footer {
  position: relative;
  z-index: 999;

  .h2 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    .text {
      font-weight: 100;
    }

    &.rss-feed-link {
      text-decoration: underline;
      color: $red;
    }
  }

  .input-group {
    margin: 20px 0;
  }
}

.footer-bottom {
  position: relative;
  z-index: 999;
  padding: 20px 0;
  border-top: 1px solid rgba($medium-light-blue, 0.3);
  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $light-grey;

  }
}