@import 'reset';
@import 'variables';
@import 'grid';

body {
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

/* Components */

.page {
  min-height: 100vh;
  position: relative;
  //padding-top: 80px;

  &.documentation {
    //background-color: red;
    //background: linear-gradient(90deg, $light-grey 33%, white 33%);

    .header {
      color: $color-radical-red;
      margin: 40px 0;
    }

    .content {
      padding-top: 60px;
    }
  }
}

// Fonts
.header {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-big-stone;
  font-size: 26px;

  @media all and (min-width: 641px) {
    font-size: 52px;
  }
}

.h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h2 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  &:not(:first-child):not(:last-child) {
    margin: $small-margin 0;
  }

  &:first-child {
    margin-bottom: $small-margin;
  }

  &:last-child {
    margin-bottom: $small-margin;
  }
}

.h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-cascade;
}

.text-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: $color-big-stone;

  &:not(:first-child):not(:last-child) {
    margin: 10px 0;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.text {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 15px;
  color: $color-big-stone;
  line-height: 1.7;
}

// Buttons
.button {
  @extend .h3;
  //font-weight: 300;
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 40px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    line-height: 1;
    text-decoration: none;
  }

  &__icon {
    position: relative;
    height: 38px;
    width: 38px;
    background-position: center center;
    background-size: contain;

    &--arrow {
      width: 30px;
      background-image: url('/img/003-Small-icons/Red/Red-Arrow.svg');
    }

    &--mail {
      background-image: url('/img/003-Small-icons/White/Mail-White.svg');
    }
  }

  &:hover {
    .button__icon--arrow {
      background-image: url('/img/003-Small-icons/White/Arrow-White.svg');
    }
  }





  &--grey {
    background-color: $color-bermuda-gray;
    color: white;

    &:hover {
      background-color: $color-blue-dianne;
    }

    &--ghost {
      background-color: transparent;
      color: $color-bermuda-gray;
      border: 1px solid $color-bermuda-gray;

      &:hover {
        background-color: $color-bermuda-gray;
        color: white;
      }
    }

  }

  &--red {
    background-color: $color-radical-red;
    color: white;

    &:hover {
      background-color: $color-brick-red;
    }

    &--ghost {
      background-color: transparent;
      color: $color-radical-red;
      border: 1px solid $color-radical-red;

      &:hover {
        background-color: $color-radical-red;
        color: white;
      }
    }
  }

  &--blue {
    background-color: $color-big-stone;
    color: white;

    &:hover {
      background-color: $color-blue-dianne;
    }

    &--ghost {
      background-color: transparent;
      color: $color-big-stone;
      border: 1px solid $color-big-stone;

      &:hover {
        background-color: $color-big-stone;
        color: white;
      }

    }
  }
}

// Lander rows
.lander-row {
  display: flex;
  justify-content: center;
  padding: 8px 0;


  @media all and (min-width: 321px) {
    padding: 8px 0;

  }

  @media all and (min-width: 641px) {
    padding: 22px 0;

  }

  @media all and (min-width: 769px) {
    padding: 40px 0;

  }

  @media all and (min-width: 1025px) {
    padding: 80px 0;

  }

  @media all and (min-width: 1201px) {
   padding: 80px 0;
  }

  &--small-padding {
    @media all and (min-width: 321px) {
      padding: 4px 0;

    }

    @media all and (min-width: 641px) {
      padding: 11px 0;

    }

    @media all and (min-width: 769px) {
      padding: 20px 0;

    }

    @media all and (min-width: 1025px) {
      padding: 40px 0;

    }

    @media all and (min-width: 1201px) {
      padding: 40px 0;
    }

  }


  &--blue {
    background-color: $color-big-stone;

    .header, .h1, .h2, .text-header, .text {
      color: $color-white-squeeze;
    }
  }

  &--white {
    background-color: white;
  }

  &--grey {
    background-color: $color-white-squeeze;
  }

  &--red {
    background-color: $color-radical-red;

    .header, .h2, .h3, .text {
      color: white;
    }
  }

  a {
    text-decoration: none;
  }

}

.hero-space {
  padding-top: 14px + 20px;
  padding-bottom: 0;
  background: linear-gradient(45deg, $color-blue-dianne, $color-big-stone);

  @media all and (min-width: 321px) {
    padding-top: 14px + 80px;
  }

  @media all and (min-width: 641px) {
    padding-top: 20px + 80px;
  }

  @media all and (min-width: 769px) {
    padding-top: 60px + 80px;
  }

  @media all and (min-width: 1025px) {
    padding-top: 80px + 80px;
  }

  @media all and (min-width: 1201px) {
    padding-top: 80px + 80px;
  }
}

// Inputs
.input-group {
  display: flex;

  input {
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    padding: 0 10px;

    &:focus {
      border: none;
      outline: none !important;
    }

  }

  .button {
    padding: 0;
    border-radius: 0 5px 5px 0;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
  }

  a {
    cursor: pointer;
  }
}

// single page
.menu {
  background-color: $color-white-squeeze;
  padding: 40px + 80px 40px 40px 40px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  width: 280px + 40px + 40px;
}

.side-menu-item {
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  align-items: center;
  text-decoration: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .bullet {
    width: 40px;
    display: flex;
    align-items: center;
    padding-top: 2px;

    img {
      width: 22px;
    }
  }

  .section-title {
    width: 5 * 40px;
  }

  .folding-indicator {
    width: 40px;
    text-align: right;
    line-height: 0;
  }

  &.active {
    .text {
      color: $color-radical-red;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-cascade;
  }
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: $color-big-stone;

  &.active {
    .text {
      color: $color-radical-red;
    }
  }
}

.content {
  padding: 0 40px 40px 80px;
  margin-left: 370px;
  background-color: white;
  min-height: 100vh;
  max-width: 980px;


  .content-header {
    font-size: 32px;
    font-weight: 100;
    color: $color-radical-red;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 50px;
  }
}

// Markdown implementation
.markdowned {
 h1 {
   font-size: 32px;
   font-weight: 100;
   color: $color-radical-red;
   line-height: 1.5;
   letter-spacing: 0.05em;
   margin: 25px 0;
 }

  h2 {
    font-size: 24px;
    font-weight: 100;
    color: $color-big-stone;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 50px 0 12.5px 0;

  }

  h2 + h3 {
    margin-top: 0;
  }

  h2 + p {
    margin-top: 0;
  }

  h3 {
    font-size: 13px;
    font-weight: 500;
    color: $color-radical-red;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 50px 0 0 0;

  }

  h3 + h4 {
    margin-top: 0;
  }

  h3 + p {
    margin-top: 0;
  }

  h4 {
    font-size: 13px;
    font-weight: 500;
    color: $color-blue-dianne;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 25px 0 0 0;
  }

  h4 + h5 {
    margin-top: 0;
  }

  h4 + p {
    margin-top: 0;
  }

  h5 {
    font-size: 13px;
    font-weight: 500;
    color: $color-radical-red;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 25px 0 0 0;
  }

  h5 + h6 {
    margin-top: 0;
  }

  h5 + p {
    margin-top: 0;
  }

  h6 {
    font-size: 15px;
    font-weight: 500;
    color: $color-big-stone;
    line-height: 1.7;
    letter-spacing: 0.025em;
    margin: 25px 0;

  }

  p {
    font-size: 15px;
    font-weight: 100;
    color: $color-big-stone;
    line-height: 1.7;
    letter-spacing: 0.025em;
    margin: 25px 0;

  }

  a {
    font-size: 15px;
    font-weight: 100;
    color: $color-bermuda-gray;
    line-height: 1.7;
    letter-spacing: 0.025em;
    text-decoration: underline;
    margin: 25px 0;

  }

  ol {
    margin: 10px 40px;

  }

  ul {
    list-style-type: square;
    margin: 10px 40px;
  }

  li {
    font-weight: 100;
    margin: 10px 0;
    @extend .text;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }


  em {
    color: $color-big-stone;
    font-weight: 200;
  }

  strong {
    font-weight: 500;
  }

  code {
    font-family: 'Roboto Mono', monospace;
  }

  p > code, li > code {
    background-color: #F0F0F0;
    padding: 0 5px;
  }

  .hljs {
    padding: 20px;
  }

  table {
    margin: 40px 0;
  }

  th {
    @extend .text-header;
    text-transform: capitalize;
  }

  td, th {
    text-align: left;
    padding: 20px 40px;



    &:first-of-type {
      padding-left: 10px;
    }

    &:last-of-type {
      padding-right: 10px;
    }

    border-bottom: 1px solid $color-white-squeeze;
  }

  td {
    @extend .text;
  }

  tr {
    &:last-of-type {
      td {
        transition: 0.1s ease-in background-color;
        border-bottom: none;
      }
    }
  }

  tr:hover {
    td {
      background-color: $color-white-squeeze;
    }
  }

}

.date {
  @extend .text;
  color: $color-bermuda-gray;
  margin: 40px 0;

}

//Menu
.top-menu {
  position: fixed;
  width: 100vw;
  z-index: 9999;
  top: 0;

  background-color: transparent;
  height: 80px;
  border-bottom: 1px solid rgba($color-white-squeeze, 0.1);
  transition: background-color 0.15s ease-in;

  &.active {
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba($color-big-stone, 0.25);
    border-bottom: none;
    .top-menu-items {
      border-top: 1px solid $color-big-stone;

      @media all and (min-width: 1025px) {
        border-top: none;

      }
    }

    .top-menu-item {
      transition: all 0.15s ease-in;

      color: $color-big-stone;
    }

    .github-logo {
      margin-right: 4px;
      i.fa {
        color: $color-big-stone;
      }
    }

    .hamburger {
      color: $color-big-stone;
    }
  }

  .logo {
    height: 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .left, .right {
    height: 100%;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
  }
;

  .top-menu-items {
    display: none;

    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: $color-big-stone;
    box-shadow: 0 4px 4px -2px rgba($color-big-stone, 0.7);
    transition: all 0.15s ease-in;
    margin-right: 20px;


    &.open {
      display: flex;
    }

    @media all and (min-width: 1025px) {
      display: flex;

      position: initial;
      width: initial;
      flex-direction: row;
      height: 100%;
      background-color: transparent;
      box-shadow: none;


    }
  }

  .top-menu-item {
    display: block;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid $color-blue-dianne;

    &:last-of-type {
      border-bottom: 0
    }


    @media all and (min-width: 1025px) {
      padding: 0 20px;
      height: 100%;
      width: initial;
      border-bottom: none;


      &.active {
        border-bottom: 1px solid $color-radical-red;
      }
    }


  }

  .github-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;

    i.fa {
      transition: opacity 0.15s ease-in;
      transform: translate(0, -1px);
      color: $color-white-squeeze;
      opacity: 0.7;
    }

    &:hover {
      i.fa {
        opacity: 1;

      }
    }

  }

  .download {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    a {
      text-decoration: none;
    }

    .button {
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 300;
    }
  }

  .hamburger {
    height: 100%;
    color: $color-white-squeeze;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

      @media all and (min-width: 1025px) {
        display: none;
      }
    }
}

// Custom
.hero-space-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  .button {
    min-width: 180px;
  }

  @media all and (min-width: 641px) {
    flex-direction: row;
    width: 400px;
  }


}

.offer-item {
  display: flex;
  img {
    width: 64px;
    height: 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 40px;
  }

  margin-bottom: 40px;
}

.lower-offer-item {
  display: flex;
  img {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .text {
    margin-left: 20px;
  }

  margin: 20px 0;

  &:first-of-type {
    margin-top: 40px;
  }
}

.top-bar {
  border-top: 1px solid $color-white-squeeze;
}

// footer

.footer {
  position: relative;
  z-index: 999;

  .text {
    color: $color-jungle-mist !important;
  }

  .h2 {
    font-weight: 300;
  }

  a {
    text-decoration: none;

    .text {
      font-weight: 100;
      color: $color-jungle-mist !important;

    }

    &.rss-feed-link {
      text-decoration: underline;
      color: $color-radical-red;
    }
  }

  .input-group {
    margin: 20px 0;
  }
}

.footer-bottom {
  position: relative;
  z-index: 999;
  padding: 20px 0;
  border-top: 1px solid rgba($color-ming, 0.3);

  .text {
    color: $color-jungle-mist !important;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .vamp-bat {
    height: 40px;
    width: 50px;
    margin-right: 20px;
  }

  .part {
    display: flex;
    width: 40%;
    align-items: center;
  }

  a {
    color: $color-white-squeeze;

  }
}

// Note box
.admonition {
  padding: 20px;
  border-left: 10px solid;
  border-radius: 0 5px 5px 0;
  position: relative;
  margin: 40px 0;

  .admonition-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .admonition-icon-image {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .admonition-title {
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 500;

  }

  p {
    display: inline;
  }

  &.note {
    background-color: #F2F5F7;
    border-color: #234B5F;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/note.svg");
    }

    .admonition-title {
      color: #234B5F;
    }
  }

  &.warning {
    background-color: #FEF0D5;
    border-color: #F9B32E;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/warning.svg");
    }

    .admonition-title {
      color: #F9B32E;
    }
  }

  &.tip {
    background-color: #dcf7f0;
    border-color: #2bd6b0;

    .admonition-icon-image {
      background-image: url("/img/003-Small-icons/Notes/tip.svg");
    }

    .admonition-title {
      color: #2bd6b0;
    }
  }
}

.laptop {
  transform: translateY(34px);
}

.image--smaller {
  width: 77.7777%;
}

.vamp-bat {
  width: 60%;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 30px;
  margin-top: 20px;

  a {
    height: 30px;
    width: 30px;
  }
}

.dark-it-up {
  color: $color-bermuda-gray !important;
}

.magnetic-logo {
  height: 40px;
}

.single-page {
  .top-menu {
    transition: none;
    background-color: white;
  }
}