/* CSS RESET */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* Grid */
.container {
  width: 1160px;
  margin: 0 auto;
}

.row {
  width: 1200px;
  margin: 40px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row:first-child {
  margin-top: 0;
}

.row:last-child {
  margin-bottom: 0;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col, .twelve-col, .thirteen-col, .fourteen-col, .fifteen-col {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.one-col {
  width: 80px;
}

.two-col {
  width: 160px;
}

.three-col {
  width: 240px;
}

.four-col {
  width: 320px;
}

.five-col {
  width: 400px;
}

.six-col {
  width: 480px;
}

.seven-col {
  width: 560px;
}

.eight-col {
  width: 640px;
}

.nine-col {
  width: 720px;
}

.ten-col {
  width: 800px;
}

.eleven-col {
  width: 880px;
}

.twelve-col {
  width: 960px;
}

.thirteen-col {
  width: 1040px;
}

.fourteen-col {
  width: 1120px;
}

.fifteen-col {
  width: 1200px;
}

.prefix-one {
  margin-left: 80px;
}

.prefix-two {
  margin-left: 160px;
}

.prefix-three {
  margin-left: 240px;
}

.prefix-four {
  margin-left: 320px;
}

.prefix-five {
  margin-left: 400px;
}

.prefix-six {
  margin-left: 480px;
}

.prefix-seven {
  margin-left: 560px;
}

.prefix-eight {
  margin-left: 640px;
}

.prefix-nine {
  margin-left: 720px;
}

.prefix-ten {
  margin-left: 800px;
}

.prefix-eleven {
  margin-left: 880px;
}

.prefix-twelve {
  margin-left: 960px;
}

.prefix-thirteen {
  margin-left: 1040px;
}

.prefix-fourteen {
  margin-left: 1120px;
}

.suffix-one {
  margin-right: 120px;
}

.suffix-two {
  margin-right: 200px;
}

.suffix-three {
  margin-right: 280px;
}

.suffix-four {
  margin-right: 360px;
}

.suffix-five {
  margin-right: 440px;
}

.suffix-six {
  margin-right: 520px;
}

.suffix-seven {
  margin-right: 600px;
}

.suffix-eight {
  margin-right: 680px;
}

.suffix-nine {
  margin-right: 760px;
}

.suffix-ten {
  margin-right: 840px;
}

.suffix-eleven {
  margin-right: 920px;
}

.suffix-twelve {
  margin-right: 1000px;
}

.suffix-thirteen {
  margin-right: 1080px;
}

.suffix-fourteen {
  margin-right: 1160px;
}

.clear {
  /* Useful generic clearing class. */
  clear: both;
}

.last-col {
  margin-right: 0;
}

/* Variables */
body {
  font-family: 'Roboto', sans-serif;
}

/* Components */
.page {
  min-height: 100vh;
}

.page.padding-fix {
  padding-top: 80px;
}

.page.documentation {
  background: -webkit-linear-gradient(0deg, #F0F5FA 50%, white 50%);
  background: linear-gradient(90deg, #F0F5FA 50%, white 50%);
}

.page.documentation .header {
  color: #FF405E;
  margin: 40px 0;
}

.header {
  font-weight: 100;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #142D3C;
}

.h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.h1:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

.h1:first-child {
  margin-bottom: 20px;
}

.h1:last-child {
  margin-bottom: 20px;
}

.h2, .markdowned h2 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.h2:not(:first-child):not(:last-child), .markdowned h2:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

.h2:first-child, .markdowned h2:first-child {
  margin-bottom: 20px;
}

.h2:last-child, .markdowned h2:last-child {
  margin-bottom: 20px;
}

.h3, .button, .markdowned h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #96ADAA;
}

.text-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.text-header:not(:first-child):not(:last-child) {
  margin: 10px 0;
}

.text-header:first-child {
  margin-bottom: 10px;
}

.text-header:last-child {
  margin-bottom: 10px;
}

.text, .markdowned p, .markdowned li, .date {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 15px;
  color: #142D3C;
  line-height: 1.7;
}

.button {
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 40px;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}

.button--grey {
  background-color: #6991AA;
  color: white;
}

.button--grey:hover {
  background-color: #234B5F;
}

.button--grey--ghost {
  background-color: transparent;
  color: #6991AA;
  border: 1px solid #6991AA;
}

.button--grey--ghost:hover {
  background-color: #6991AA;
  color: white;
}

.button--red {
  background-color: #FF405E;
  color: white;
}

.button--red:hover {
  background-color: #C33750;
}

.button--red--ghost {
  background-color: transparent;
  color: #FF405E;
  border: 1px solid #FF405E;
}

.button--red--ghost:hover {
  background-color: #FF405E;
  color: white;
}

.button--blue {
  background-color: #142D3C;
  color: white;
}

.button--blue:hover {
  background-color: #234B5F;
}

.button--blue--ghost {
  background-color: transparent;
  color: #142D3C;
  border: 1px solid #142D3C;
}

.button--blue--ghost:hover {
  background-color: #142D3C;
  color: white;
}

.lander-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.lander-row--blue {
  background-color: #142D3C;
}

.lander-row--blue .header, .lander-row--blue .h1, .lander-row--blue .h2, .lander-row--blue .markdowned h2, .markdowned .lander-row--blue h2, .lander-row--blue .text-header, .lander-row--blue .text, .lander-row--blue .markdowned p, .markdowned .lander-row--blue p, .lander-row--blue .markdowned li, .markdowned .lander-row--blue li, .lander-row--blue .date {
  color: #F0F5FA;
}

.lander-row--white {
  background-color: white;
}

.lander-row--grey {
  background-color: #F0F5FA;
}

.lander-row--red {
  background-color: #FF405E;
}

.lander-row--red .header, .lander-row--red .h2, .lander-row--red .markdowned h2, .markdowned .lander-row--red h2, .lander-row--red .h3, .lander-row--red .button, .lander-row--red .markdowned h3, .markdowned .lander-row--red h3, .lander-row--red .text, .lander-row--red .markdowned p, .markdowned .lander-row--red p, .lander-row--red .markdowned li, .markdowned .lander-row--red li, .lander-row--red .date {
  color: #F0F5FA;
}

.hero-space {
  padding-top: 160px;
  background: -webkit-linear-gradient(45deg, #234B5F, #142D3C);
  background: linear-gradient(45deg, #234B5F, #142D3C);
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group input {
  border: none;
  border-radius: 5px 0 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.input-group input:focus {
  border: none;
  outline: none !important;
}

.input-group button {
  border-radius: 0 5px 5px 0;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 10px;
}

.menu {
  background-color: #F0F5FA;
  padding: 40px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  overflow-y: scroll;
}

.side-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.side-menu-item .bullet {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
}

.side-menu-item .bullet img {
  width: 22px;
}

.side-menu-item .section-title {
  width: 200px;
}

.side-menu-item .folding-indicator {
  width: 40px;
  text-align: right;
  line-height: 0;
}

.side-menu-item.active .text, .side-menu-item.active .markdowned p, .markdowned .side-menu-item.active p, .side-menu-item.active .markdowned li, .markdowned .side-menu-item.active li, .side-menu-item.active .date {
  color: #FF405E;
}

.side-menu-item:first-child {
  padding-top: 0;
}

.side-menu-item:not(:last-child) {
  border-bottom: 1px solid #96ADAA;
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: #142D3C;
}

.sub-menu-item.active .text, .sub-menu-item.active .markdowned p, .markdowned .sub-menu-item.active p, .sub-menu-item.active .markdowned li, .markdowned .sub-menu-item.active li, .sub-menu-item.active .date {
  color: #FF405E;
}

.content {
  padding: 0 40px;
  margin-left: 400px;
  background-color: white;
  min-height: 100vh;
}

.markdowned h2 {
  margin-top: 60px !important;
}

.markdowned p:not(:first-child) {
  margin-top: 20px;
}

.markdowned p:not(:last-child) {
  margin-bottom: 20px;
}

.markdowned ol {
  margin-left: 40px;
}

.markdowned ul {
  list-style-type: square;
  margin-left: 40px;
}

.markdowned li {
  margin: 20px 0;
}

.markdowned a {
  color: #FF405E;
}

.markdowned em {
  display: block;
  color: #6991AA;
  font-weight: 200;
}

.date {
  color: #6991AA;
  margin: 40px 0;
}

.top-menu {
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: transparent;
  height: 80px;
  border-bottom: 1px solid rgba(240, 245, 250, 0.1);
}

.top-menu.always-active, .top-menu.active {
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(20, 45, 60, 0.25);
  border-bottom: none;
}

.top-menu.always-active .top-menu-item, .top-menu.active .top-menu-item {
  -webkit-transition: color 0.15s ease-in;
          transition: color 0.15s ease-in;
  color: #142D3C;
}

.top-menu.active {
  -webkit-transition: background-color 0.15s ease-in;
          transition: background-color 0.15s ease-in;
}

.top-menu .logo {
  height: 40px;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.top-menu .left, .top-menu .right {
  height: 100%;
}

.top-menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu .top-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.top-menu .top-menu-item {
  display: block;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.top-menu .top-menu-item.active {
  border-bottom: 1px solid #FF405E;
}

.hero-space-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.hero-space-buttons .button {
  min-width: 180px;
}

.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.offer-item img {
  width: 64px;
  height: 64px;
}

.offer-item .text, .offer-item .markdowned p, .markdowned .offer-item p, .offer-item .markdowned li, .markdowned .offer-item li, .offer-item .date {
  margin-left: 40px;
}

.lower-offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.lower-offer-item img {
  width: 32px;
  height: 32px;
}

.lower-offer-item .text, .lower-offer-item .markdowned p, .markdowned .lower-offer-item p, .lower-offer-item .markdowned li, .markdowned .lower-offer-item li, .lower-offer-item .date {
  margin-left: 20px;
}

.lower-offer-item:first-of-type {
  margin-top: 40px;
}

.top-bar {
  border-top: 1px solid #F0F5FA;
}
