/* CSS RESET */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* Grid */
.container {
  margin: 0 auto;
}

@media all and (min-width: 321px) {
  .container {
    width: 316px;
  }
}

@media all and (min-width: 641px) {
  .container {
    width: 636px;
  }
}

@media all and (min-width: 769px) {
  .container {
    width: 650px;
  }
}

@media all and (min-width: 1025px) {
  .container {
    width: 1018px;
  }
}

@media all and (min-width: 1201px) {
  .container {
    width: 1160px;
  }
}

.row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 321px) {
  .row {
    width: 356px;
    margin: 10px -20px;
  }
}

@media all and (min-width: 641px) {
  .row {
    width: 676px;
    margin: 20px -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 769px) {
  .row {
    width: 690px;
    margin: 30px -20px;
  }
}

@media all and (min-width: 1025px) {
  .row {
    width: 1058px;
    margin: 40px -20px;
  }
}

@media all and (min-width: 1201px) {
  .row {
    width: 1200px;
    margin: 40px -20px;
  }
}

.row--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row:first-child {
  margin-top: 0;
}

.row:last-child {
  margin-bottom: 0;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

@media all and (min-width: 641px) {
  .col {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-1 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-1 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-1 {
    width: 46px;
  }
}

@media all and (min-width: 1025px) {
  .col-1 {
    width: 70.53333px;
  }
}

@media all and (min-width: 1201px) {
  .col-1 {
    width: 80px;
  }
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-2 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-2 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-2 {
    width: 92px;
  }
}

@media all and (min-width: 1025px) {
  .col-2 {
    width: 141.06667px;
  }
}

@media all and (min-width: 1201px) {
  .col-2 {
    width: 160px;
  }
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-3 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-3 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-3 {
    width: 138px;
  }
}

@media all and (min-width: 1025px) {
  .col-3 {
    width: 211.6px;
  }
}

@media all and (min-width: 1201px) {
  .col-3 {
    width: 240px;
  }
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-4 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-4 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-4 {
    width: 184px;
  }
}

@media all and (min-width: 1025px) {
  .col-4 {
    width: 282.13333px;
  }
}

@media all and (min-width: 1201px) {
  .col-4 {
    width: 320px;
  }
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-5 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-5 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-5 {
    width: 230px;
  }
}

@media all and (min-width: 1025px) {
  .col-5 {
    width: 352.66667px;
  }
}

@media all and (min-width: 1201px) {
  .col-5 {
    width: 400px;
  }
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-6 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-6 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-6 {
    width: 276px;
  }
}

@media all and (min-width: 1025px) {
  .col-6 {
    width: 423.2px;
  }
}

@media all and (min-width: 1201px) {
  .col-6 {
    width: 480px;
  }
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-7 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-7 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-7 {
    width: 322px;
  }
}

@media all and (min-width: 1025px) {
  .col-7 {
    width: 493.73333px;
  }
}

@media all and (min-width: 1201px) {
  .col-7 {
    width: 560px;
  }
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-8 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-8 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-8 {
    width: 368px;
  }
}

@media all and (min-width: 1025px) {
  .col-8 {
    width: 564.26667px;
  }
}

@media all and (min-width: 1201px) {
  .col-8 {
    width: 640px;
  }
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-9 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-9 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-9 {
    width: 414px;
  }
}

@media all and (min-width: 1025px) {
  .col-9 {
    width: 634.8px;
  }
}

@media all and (min-width: 1201px) {
  .col-9 {
    width: 720px;
  }
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-10 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-10 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-10 {
    width: 460px;
  }
}

@media all and (min-width: 1025px) {
  .col-10 {
    width: 705.33333px;
  }
}

@media all and (min-width: 1201px) {
  .col-10 {
    width: 800px;
  }
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-11 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-11 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-11 {
    width: 506px;
  }
}

@media all and (min-width: 1025px) {
  .col-11 {
    width: 775.86667px;
  }
}

@media all and (min-width: 1201px) {
  .col-11 {
    width: 880px;
  }
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-12 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-12 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-12 {
    width: 552px;
  }
}

@media all and (min-width: 1025px) {
  .col-12 {
    width: 846.4px;
  }
}

@media all and (min-width: 1201px) {
  .col-12 {
    width: 960px;
  }
}

.col-13 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-13 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-13 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-13 {
    width: 598px;
  }
}

@media all and (min-width: 1025px) {
  .col-13 {
    width: 916.93333px;
  }
}

@media all and (min-width: 1201px) {
  .col-13 {
    width: 1040px;
  }
}

.col-14 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-14 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-14 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-14 {
    width: 644px;
  }
}

@media all and (min-width: 1025px) {
  .col-14 {
    width: 987.46667px;
  }
}

@media all and (min-width: 1201px) {
  .col-14 {
    width: 1120px;
  }
}

.col-15 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media all and (min-width: 321px) {
  .col-15 {
    width: 100%;
  }
}

@media all and (min-width: 641px) {
  .col-15 {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .col-15 {
    width: 690px;
  }
}

@media all and (min-width: 1025px) {
  .col-15 {
    width: 1058px;
  }
}

@media all and (min-width: 1201px) {
  .col-15 {
    width: 1200px;
  }
}

.clear {
  /* Useful generic clearing class. */
  clear: both;
}

.last-col {
  margin-right: 0;
}

/* Variables */
body {
  font-family: 'Roboto', sans-serif;
}

/* Components */
.page {
  min-height: 100vh;
}

.page.padding-fix {
  padding-top: 80px;
}

.page.documentation {
  background: -webkit-linear-gradient(0deg, #F0F5FA 33%, white 33%);
  background: linear-gradient(90deg, #F0F5FA 33%, white 33%);
}

.page.documentation .header {
  color: #FF405E;
  margin: 40px 0;
}

.header {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #142D3C;
  font-size: 36px;
}

@media all and (min-width: 641px) {
  .header {
    font-size: 52px;
  }
}

.h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.h1:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

.h1:first-child {
  margin-bottom: 20px;
}

.h1:last-child {
  margin-bottom: 20px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.h2:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

.h2:first-child {
  margin-bottom: 20px;
}

.h2:last-child {
  margin-bottom: 20px;
}

.h3, .button {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #96ADAA;
}

.text-header, .markdowned th {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #142D3C;
}

.text-header:not(:first-child):not(:last-child), .markdowned th:not(:first-child):not(:last-child) {
  margin: 10px 0;
}

.text-header:first-child, .markdowned th:first-child {
  margin-bottom: 10px;
}

.text-header:last-child, .markdowned th:last-child {
  margin-bottom: 10px;
}

.text, .markdowned li, .markdowned td, .date {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 15px;
  color: #142D3C;
  line-height: 1.7;
}

.button {
  border: none;
  height: 40px;
  min-width: 120px;
  padding: 0 40px;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}

.button--grey {
  background-color: #6991AA;
  color: white;
}

.button--grey:hover {
  background-color: #234B5F;
}

.button--grey--ghost {
  background-color: transparent;
  color: #6991AA;
  border: 1px solid #6991AA;
}

.button--grey--ghost:hover {
  background-color: #6991AA;
  color: white;
}

.button--red {
  background-color: #FF405E;
  color: white;
}

.button--red:hover {
  background-color: #C33750;
}

.button--red--ghost {
  background-color: transparent;
  color: #FF405E;
  border: 1px solid #FF405E;
}

.button--red--ghost:hover {
  background-color: #FF405E;
  color: white;
}

.button--blue {
  background-color: #142D3C;
  color: white;
}

.button--blue:hover {
  background-color: #234B5F;
}

.button--blue--ghost {
  background-color: transparent;
  color: #142D3C;
  border: 1px solid #142D3C;
}

.button--blue--ghost:hover {
  background-color: #142D3C;
  color: white;
}

.lander-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
}

@media all and (min-width: 321px) {
  .lander-row {
    padding: 8px 0;
  }
}

@media all and (min-width: 641px) {
  .lander-row {
    padding: 22px 0;
  }
}

@media all and (min-width: 769px) {
  .lander-row {
    padding: 40px 0;
  }
}

@media all and (min-width: 1025px) {
  .lander-row {
    padding: 80px 0;
  }
}

@media all and (min-width: 1201px) {
  .lander-row {
    padding: 80px 0;
  }
}

.lander-row--blue {
  background-color: #142D3C;
}

.lander-row--blue .header, .lander-row--blue .h1, .lander-row--blue .h2, .lander-row--blue .text-header, .lander-row--blue .markdowned th, .markdowned .lander-row--blue th, .lander-row--blue .text, .lander-row--blue .markdowned li, .markdowned .lander-row--blue li, .lander-row--blue .markdowned td, .markdowned .lander-row--blue td, .lander-row--blue .date {
  color: #F0F5FA;
}

.lander-row--white {
  background-color: white;
}

.lander-row--grey {
  background-color: #F0F5FA;
}

.lander-row--red {
  background-color: #FF405E;
}

.lander-row--red .header, .lander-row--red .h2, .lander-row--red .h3, .lander-row--red .button, .lander-row--red .text, .lander-row--red .markdowned li, .markdowned .lander-row--red li, .lander-row--red .markdowned td, .markdowned .lander-row--red td, .lander-row--red .date {
  color: #F0F5FA;
}

.hero-space {
  padding-top: 34px;
  padding-bottom: 0;
  background: -webkit-linear-gradient(45deg, #234B5F, #142D3C);
  background: linear-gradient(45deg, #234B5F, #142D3C);
}

@media all and (min-width: 321px) {
  .hero-space {
    padding-top: 94px;
  }
}

@media all and (min-width: 641px) {
  .hero-space {
    padding-top: 100px;
  }
}

@media all and (min-width: 769px) {
  .hero-space {
    padding-top: 140px;
  }
}

@media all and (min-width: 1025px) {
  .hero-space {
    padding-top: 160px;
  }
}

@media all and (min-width: 1201px) {
  .hero-space {
    padding-top: 160px;
  }
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group input {
  border: none;
  border-radius: 5px 0 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.input-group input:focus {
  border: none;
  outline: none !important;
}

.input-group button {
  border-radius: 0 5px 5px 0;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 10px;
}

.menu {
  background-color: #F0F5FA;
  padding: 40px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  overflow-y: scroll;
}

.side-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.side-menu-item::-webkit-scrollbar {
  display: none;
}

.side-menu-item .bullet {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
}

.side-menu-item .bullet img {
  width: 22px;
}

.side-menu-item .section-title {
  width: 200px;
}

.side-menu-item .folding-indicator {
  width: 40px;
  text-align: right;
  line-height: 0;
}

.side-menu-item.active .text, .side-menu-item.active .markdowned li, .markdowned .side-menu-item.active li, .side-menu-item.active .markdowned td, .markdowned .side-menu-item.active td, .side-menu-item.active .date {
  color: #FF405E;
}

.side-menu-item:first-child {
  padding-top: 0;
}

.side-menu-item:not(:last-child) {
  border-bottom: 1px solid #96ADAA;
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: #142D3C;
}

.sub-menu-item.active .text, .sub-menu-item.active .markdowned li, .markdowned .sub-menu-item.active li, .sub-menu-item.active .markdowned td, .markdowned .sub-menu-item.active td, .sub-menu-item.active .date {
  color: #FF405E;
}

.content {
  padding: 0 40px 40px 40px;
  margin-left: 400px;
  background-color: white;
  min-height: 100vh;
}

.content .content-header {
  font-size: 32px;
  font-weight: 100;
  color: #FF405E;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 50px;
}

.markdowned h1 {
  font-size: 32px;
  font-weight: 100;
  color: #FF405E;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 25px 0;
}

.markdowned h2 {
  font-size: 24px;
  font-weight: 100;
  color: #142D3C;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 50px 0 12.5px 0;
}

.markdowned h2 + h3 {
  margin-top: 0;
}

.markdowned h2 + p {
  margin-top: 0;
}

.markdowned h3 {
  font-size: 13px;
  font-weight: 500;
  color: #FF405E;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 50px 0 0 0;
}

.markdowned h3 + h4 {
  margin-top: 0;
}

.markdowned h3 + p {
  margin-top: 0;
}

.markdowned h4 {
  font-size: 13px;
  font-weight: 500;
  color: #234B5F;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 25px 0 0 0;
}

.markdowned h4 + h5 {
  margin-top: 0;
}

.markdowned h4 + p {
  margin-top: 0;
}

.markdowned h5 {
  font-size: 13px;
  font-weight: 500;
  color: #FF405E;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 25px 0 0 0;
}

.markdowned h5 + h6 {
  margin-top: 0;
}

.markdowned h5 + p {
  margin-top: 0;
}

.markdowned h6 {
  font-size: 15px;
  font-weight: 500;
  color: #142D3C;
  line-height: 1.7;
  letter-spacing: 0.025em;
  margin: 25px 0;
}

.markdowned p {
  font-size: 15px;
  font-weight: 100;
  color: #142D3C;
  line-height: 1.7;
  letter-spacing: 0.025em;
  margin: 25px 0;
}

.markdowned a {
  font-size: 15px;
  font-weight: 100;
  color: #142D3C;
  line-height: 1.7;
  letter-spacing: 0.025em;
  text-decoration: underline;
  margin: 25px 0;
}

.markdowned ol {
  margin: 10px 40px;
}

.markdowned ul {
  list-style-type: square;
  margin: 10px 40px;
}

.markdowned li {
  margin: 10px 0;
}

.markdowned li:first-of-type {
  margin-top: 0;
}

.markdowned li:last-of-type {
  margin-bottom: 0;
}

.markdowned a {
  color: #FF405E;
}

.markdowned em {
  color: #6991AA;
  font-weight: 200;
}

.markdowned strong {
  font-weight: 500;
}

.markdowned code {
  font-family: 'Roboto Mono', monospace;
}

.markdowned p > code, .markdowned li > code {
  background-color: #F0F0F0;
  padding: 0 5px;
}

.markdowned .hljs {
  padding: 20px;
}

.markdowned table {
  margin: 40px 0;
}

.markdowned th {
  text-transform: capitalize;
}

.markdowned td, .markdowned th {
  text-align: left;
  padding: 20px 40px;
  border-bottom: 1px solid #F0F5FA;
}

.markdowned td:first-of-type, .markdowned th:first-of-type {
  padding-left: 10px;
}

.markdowned td:last-of-type, .markdowned th:last-of-type {
  padding-right: 10px;
}

.markdowned tr:last-of-type td {
  -webkit-transition: 0.1s ease-in background-color;
          transition: 0.1s ease-in background-color;
  border-bottom: none;
}

.markdowned tr:hover td {
  background-color: #F0F5FA;
}

.date {
  color: #6991AA;
  margin: 40px 0;
}

.top-menu {
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: transparent;
  height: 80px;
  border-bottom: 1px solid rgba(240, 245, 250, 0.1);
  -webkit-transition: background-color 0.15s ease-in;
          transition: background-color 0.15s ease-in;
}

.top-menu.active {
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(20, 45, 60, 0.25);
  border-bottom: none;
}

.top-menu.active .top-menu-items {
  border-top: 1px solid #142D3C;
}

@media all and (min-width: 1025px) {
  .top-menu.active .top-menu-items {
    border-top: none;
  }
}

.top-menu.active .top-menu-item {
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
  color: #142D3C;
}

.top-menu.active .github-logo i.fa {
  color: #142D3C;
}

.top-menu.active .hamburger {
  color: #142D3C;
}

.top-menu .logo {
  height: 40px;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.top-menu .left, .top-menu .right {
  height: 100%;
}

.top-menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-menu .top-menu-items {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #142D3C;
  box-shadow: 0 4px 4px -2px rgba(20, 45, 60, 0.7);
  -webkit-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
}

.top-menu .top-menu-items.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (min-width: 1025px) {
  .top-menu .top-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    width: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
  }
}

.top-menu .top-menu-item {
  display: block;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #234B5F;
}

.top-menu .top-menu-item:last-of-type {
  border-bottom: 0;
}

@media all and (min-width: 1025px) {
  .top-menu .top-menu-item {
    padding: 0 20px;
    height: 100%;
    width: initial;
    border-bottom: none;
  }
  .top-menu .top-menu-item.active {
    border-bottom: 1px solid #FF405E;
  }
}

.top-menu .github-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-decoration: none;
}

.top-menu .github-logo i.fa {
  -webkit-transition: opacity 0.15s ease-in;
          transition: opacity 0.15s ease-in;
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
  color: #F0F5FA;
  opacity: 0.7;
}

.top-menu .github-logo:hover i.fa {
  opacity: 1;
}

.top-menu .download {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  text-decoration: none;
}

.top-menu .download .button {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
}

.top-menu .hamburger {
  height: 100%;
  color: #F0F5FA;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media all and (min-width: 1025px) {
  .top-menu .hamburger {
    display: none;
  }
}

.hero-space-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.hero-space-buttons .button {
  min-width: 180px;
}

@media all and (min-width: 641px) {
  .hero-space-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400px;
  }
}

.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.offer-item img {
  width: 64px;
  height: 64px;
}

.offer-item .text, .offer-item .markdowned li, .markdowned .offer-item li, .offer-item .markdowned td, .markdowned .offer-item td, .offer-item .date {
  margin-left: 40px;
}

.lower-offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.lower-offer-item img {
  width: 32px;
  height: 32px;
}

.lower-offer-item .text, .lower-offer-item .markdowned li, .markdowned .lower-offer-item li, .lower-offer-item .markdowned td, .markdowned .lower-offer-item td, .lower-offer-item .date {
  margin-left: 20px;
}

.lower-offer-item:first-of-type {
  margin-top: 40px;
}

.top-bar {
  border-top: 1px solid #F0F5FA;
}

.footer {
  position: relative;
  z-index: 999;
}

.footer .h2 {
  font-weight: 300;
}

.footer a {
  text-decoration: none;
}

.footer a .text, .footer a .markdowned li, .markdowned .footer a li, .footer a .markdowned td, .markdowned .footer a td, .footer a .date {
  font-weight: 100;
}

.footer a.rss-feed-link {
  text-decoration: underline;
  color: #FF405E;
}

.footer .input-group {
  margin: 20px 0;
}

.footer-bottom {
  position: relative;
  z-index: 999;
  padding: 20px 0;
  border-top: 1px solid rgba(55, 100, 125, 0.3);
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom a {
  color: #F0F5FA;
}

.admonition {
  padding: 20px;
  border-left: 10px solid;
  border-radius: 0 5px 5px 0;
  position: relative;
  margin: 40px 0;
}

.admonition .admonition-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admonition .admonition-icon-image {
  width: 22px;
  height: 22px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.admonition .admonition-title {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 500;
}

.admonition p {
  display: inline;
}

.admonition.note {
  background-color: #F2F5F7;
  border-color: #234B5F;
}

.admonition.note .admonition-icon-image {
  background-image: url("/img/003-Small-icons/Notes/note.svg");
}

.admonition.note .admonition-title {
  color: #234B5F;
}

.admonition.warning {
  background-color: #FEF0D5;
  border-color: #F9B32E;
}

.admonition.warning .admonition-icon-image {
  background-image: url("/img/003-Small-icons/Notes/warning.svg");
}

.admonition.warning .admonition-title {
  color: #F9B32E;
}

.admonition.tip {
  background-color: #F2F5F7;
  border-color: #6991AA;
}

.admonition.tip .admonition-icon-image {
  background-image: url("/img/003-Small-icons/Notes/tip.svg");
}

.admonition.tip .admonition-title {
  color: #6991AA;
}

.laptop {
  -webkit-transform: translateY(34px);
          transform: translateY(34px);
}
